## Happy Hare MMU hardware config file with config for {brd_type}

[mcu mmu]
serial: {serial}	# Change to `canbus_uuid: 1234567890` for CANbus setups

# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS.
# The names match those referenced in the mmu_hardware.cfg file. If you get into difficulty
# you can also comment these alisas and configure the pin names directly into mmu_hardware.cfg.
#
[board_pins mmu]
mcu: mmu # Assuming using an external / extra mcu dedicated to MMU
aliases:
    MMU_GEAR_UART={gear_uart_pin},
    MMU_GEAR_STEP={gear_step_pin},
    MMU_GEAR_DIR={gear_dir_pin},
    MMU_GEAR_ENABLE={gear_enable_pin},
    MMU_GEAR_DIAG={gear_diag_pin},
    MMU_SEL_UART={selector_uart_pin},
    MMU_SEL_STEP={selector_step_pin},
    MMU_SEL_DIR={selector_dir_pin},
    MMU_SEL_ENABLE={selector_enable_pin},
    MMU_SEL_DIAG={selector_diag_pin},
    MMU_SEL_ENDSTOP={selector_endstop_pin},
    MMU_SERVO={servo_pin},
    MMU_ENCODER={encoder_pin}
    MMU_GATE_SENSOR=

# Assuming the rest of the pins are on main mcu. You may need to comment out this section
# if using Klippain or RatOS and already have the aliases defined
#
[board_pins mcu]
aliases:
#    E_TMCUART={extruder_uart_pin},
#    E_DIAG={extruder_diag_pin},
#    E_STEP={extruder_step_pin},
#    E_DIR={extruder_dir_pin},
#    E_ENABLE={extruder_enable_pin},
    TOOLHEAD_SENSOR={toolhead_sensor_pin}
    EXTRUDER_SENSOR=

