config PARAM_BOARD_TYPE
  string

choice CHOICE_BOARD_TYPE
  prompt "Board type"
  default BOARD_TYPE_OTHER
  help 
    MCU type
    Select the type of mcu board you are using. This will configure
    the default pin layout for your setup. After selecting board
    pins can be customized in Advanced Settings.

  if !MMU_TYPE_KMS_1_0 && ! MMU_TYPE_VVD_1_0
    rsource "Kconfig.*"

    config BOARD_TYPE_OTHER
      bool "Not listed / Other"
      select OVERRIDE_PINS # Force user to define pins
  endif

  # KMS has custom mcu
  if MMU_TYPE_KMS_1_0
    rsource "custom/Kconfig.kms"
  endif

  # ViViD has custom mcu
  if MMU_TYPE_VVD_1_0
    rsource "custom/Kconfig.vvd"
  endif
endchoice
