config BOARD_TYPE_WGB_3_0
  bool "WGB v3.0 / designed for Box Turtle"

if BOARD_TYPE_WGB_3_0
  config PARAM_BOARD_TYPE
    default "WGB30"

  choice CHOICE_MMU_CONNECTION_TYPE
    default CHOICE_MMU_CONNECTION_TYPE_SERIAL
  endchoice
  choice CHOICE_MMU_SERIAL_CONNECTION
    default $(mmu_serial_config,1,stm32)
  endchoice

  config PIN_GEAR_UART 
    default "$(MCU_NAME):PC12" 
  config PIN_GEAR_STEP
    default "$(MCU_NAME):PD4" 
  config PIN_GEAR_DIR
    default "$(MCU_NAME):PD3" 
  config PIN_GEAR_ENABLE
    default "!$(MCU_NAME):PD5" 
  config PIN_GEAR_DIAG
    default "$(MCU_NAME):PD6" 

  config PIN_GEAR_UART_1 
    default "$(MCU_NAME):PC10" 
  config PIN_GEAR_STEP_1
    default "$(MCU_NAME):PD0" 
  config PIN_GEAR_DIR_1
    default "$(MCU_NAME):PC11" 
  config PIN_GEAR_ENABLE_1
    default "!$(MCU_NAME):PD1" 
  config PIN_GEAR_DIAG_1
    default "$(MCU_NAME):PD2" 

  config PIN_GEAR_UART_2 
    default "$(MCU_NAME):PA9" 
  config PIN_GEAR_STEP_2
    default "$(MCU_NAME):PC8" 
  config PIN_GEAR_DIR_2
    default "$(MCU_NAME):PA10" 
  config PIN_GEAR_ENABLE_2
    default "!$(MCU_NAME):PC9" 
  config PIN_GEAR_DIAG_2
    default "$(MCU_NAME):PA8" 

  config PIN_GEAR_UART_3 
    default "$(MCU_NAME):PC6" 
  config PIN_GEAR_STEP_3
    default "$(MCU_NAME):PD13" 
  config PIN_GEAR_DIR_3
    default "$(MCU_NAME):PD12" 
  config PIN_GEAR_ENABLE_3
    default "!$(MCU_NAME):PD14" 
  config PIN_GEAR_DIAG_3
    default "$(MCU_NAME):PD15" 

  config PIN_PRE_GATE_0
    default "^$(MCU_NAME):PA1" 
  config PIN_PRE_GATE_1
    default "^$(MCU_NAME):PA2" 
  config PIN_PRE_GATE_2
    default "^$(MCU_NAME):PA3" 
  config PIN_PRE_GATE_3
    default "^$(MCU_NAME):PA4" 

  config PIN_GEAR_SENSOR_0
    default "^$(MCU_NAME):PA5" 
  config PIN_GEAR_SENSOR_1
    default "^$(MCU_NAME):PA6" 
  config PIN_GEAR_SENSOR_2
    default "^$(MCU_NAME):PA7" 
  config PIN_GEAR_SENSOR_3
    default "^$(MCU_NAME):PC4" 

  config PIN_ESPOOLER_EN_0
    default "$(MCU_NAME):PD11" 
  config PIN_ESPOOLER_RWD_0
    default "$(MCU_NAME):PE15" 
  config PIN_ESPOOLER_FWD_0
    default "$(MCU_NAME):PB10" 

  config PIN_ESPOOLER_EN_1
    default "$(MCU_NAME):PD10" 
  config PIN_ESPOOLER_RWD_1
    default "$(MCU_NAME):PE13" 
  config PIN_ESPOOLER_FWD_1
    default "$(MCU_NAME):PE14" 

  config PIN_ESPOOLER_EN_2
    default "$(MCU_NAME):PD9" 
  config PIN_ESPOOLER_RWD_2
    default "$(MCU_NAME):PE12" 
  config PIN_ESPOOLER_FWD_2
    default "$(MCU_NAME):PE11" 

  config PIN_ESPOOLER_EN_3
    default "$(MCU_NAME):PD8" 
  config PIN_ESPOOLER_RWD_3
    default "$(MCU_NAME):PE8" 
  config PIN_ESPOOLER_FWD_3
    default "$(MCU_NAME):PE10" 

  config PIN_NEOPIXEL
    default "$(MCU_NAME):PB15"
  config PIN_GATE_SENSOR
    default "^$(MCU_NAME):PE7"
endif
