config BOARD_TYPE_SKR_PICO_1
  bool "BTT SKR Pico v1.0"

if BOARD_TYPE_SKR_PICO_1
  config PARAM_BOARD_TYPE
    default "SKR_PICO_1"

  choice CHOICE_SERIAL_DEVICE
    default $(serial_config,1,rp2040)
  endchoice

  # MMU Type B
  config PIN_GEAR_UART 
    default "$(MMU_MCU):gpio9" 
  config PIN_GEAR_STEP
    default "$(MMU_MCU):gpio11" 
  config PIN_GEAR_DIR
    default "$(MMU_MCU):gpio10" 
  config PIN_GEAR_ENABLE
    default "!$(MMU_MCU):gpio12" 
  config PIN_GEAR_DIAG
    default "$(MMU_MCU):gpio4" 

  if VIRTUAL_SELECTOR
    config PIN_GEAR_STEP_1
      default "$(MMU_MCU):gpio6" 
    config PIN_GEAR_DIR_1
      default "$(MMU_MCU):gpio5" 
    config PIN_GEAR_ENABLE_1
      default "!$(MMU_MCU):gpio7" 
    config PIN_GEAR_DIAG_1
      default "$(MMU_MCU):gpop3" 

    config PIN_GEAR_STEP_2
      default "$(MMU_MCU):gpio19" 
    config PIN_GEAR_DIR_2
      default "$(MMU_MCU):gpio28" 
    config PIN_GEAR_ENABLE_2
      default "!$(MMU_MCU):gpio2" 
    config PIN_GEAR_DIAG_2
      default "$(MMU_MCU):gpio25"

    config PIN_GEAR_STEP_3
      default "$(MMU_MCU):gpio14" 
    config PIN_GEAR_DIR_3
      default "$(MMU_MCU):gpio13" 
    config PIN_GEAR_ENABLE_3
      default "!$(MMU_MCU):gpio15" 
    config PIN_GEAR_DIAG_3
      default "$(MMU_MCU):gpio16" 
  endif

  if !VIRTUAL_SELECTOR
    config PIN_SELECTOR_STEP
      default "$(MMU_MCU):gpio19" 
    config PIN_SELECTOR_DIR
      default "$(MMU_MCU):gpio28" 
    config PIN_SELECTOR_ENABLE
      default "!$(MMU_MCU):gpio2" 
    config PIN_SELECTOR_DIAG
      default "$(MMU_MCU):gpio25" 
    config PIN_SELECTOR_SERVO
      default "$(MMU_MCU):gpio29" 
  endif

  config PIN_NEOPIXEL
    default "$(MMU_MCU):gpio24" 
endif
