config PARAM_BOARD_TYPE
  string

rsource "Kconfig.*"

choice CHOICE_BOARD_TYPE
  prompt "Board type"
  default BOARD_TYPE_OTHER
  help 
    Step 4 - MCU type
    Select the type of mcu board you are using. This will configure
    the default pin layout for your setup. After selecting board
    pins can be customized in Advanced Settings.

  config BOARD_TYPE_OTHER
    bool "Not listed / Other"
    select OVERRIDE_PINS # Force user to define pins
endchoice
