choice CHOICE_BOARD_TYPE
  config BOARD_TYPE_MELLOW_EASY_BRD_CAN_1
    bool "Mellow EASY-BRD v1.x (with CANbus)"
endchoice

if BOARD_TYPE_MELLOW_EASY_BRD_CAN_1
  config PARAM_BOARD_TYPE
    default "MELLOW-EASY-BRD-CAN"

  choice CHOICE_SERIAL_DEVICE
    default $(serial_config,1,rp2040)
  endchoice

  config PIN_GEAR_UART
    default "mmu:gpio9" 
  config PIN_GEAR_STEP
    default "mmu:gpio7" 
  config PIN_GEAR_DIR
    default "mmu:gpio8" 
  config PIN_GEAR_ENABLE
    default "!mmu:gpio6"
  config PIN_GEAR_DIAG
    default "mmu:gpio23"

  config PIN_SELECTOR_UART
    default "mmu:gpio0" 
  config PIN_SELECTOR_STEP
    default "mmu:gpio2" 
  config PIN_SELECTOR_DIR
    default "mmu:gpio1" 
  config PIN_SELECTOR_ENABLE
    default "!mmu:gpio3" 
  config PIN_SELECTOR_DIAG
    default "mmu:gpio22" if MMU_SELECTOR_TOUCH 
  config PIN_SELECTOR_ENDSTOP
    default "^mmu:gpio20" if !MMU_SELECTOR_TOUCH
  config PIN_SELECTOR_SERVO
    default "mmu:gpio21" 

  config PIN_PRE_GATE_0
    default "^mmu:gpio10"
  config PIN_PRE_GATE_1
    default "^mmu:gpio26"
  config PIN_PRE_GATE_2
    default "^mmu:gpio11"
  config PIN_PRE_GATE_3
    default "^mmu:gpio27"
  config PIN_PRE_GATE_4
    default "^mmu:gpio12"
  config PIN_PRE_GATE_5
    default "^mmu:gpio28"
  config PIN_PRE_GATE_6
    default "^mmu:gpio24"
  config PIN_PRE_GATE_7
    default "^mmu:gpio29"
  config PIN_PRE_GATE_8
    default "^mmu:gpio13"
  config PIN_PRE_GATE_9
    default "^mmu:gpio25"

  config PIN_ENCODER
    default "^mmu:gpio15" if MMU_HAS_ENCODER
  config PIN_GATE_SENSOR
    default "^mmu:gpio15" if !MMU_HAS_ENCODER
  config PIN_NEOPIXEL
    default "mmu:gpio14"
endif
