config BOARD_TYPE_MMB_1_1
  bool "BTT MMB v1.1 with CANbus"

if BOARD_TYPE_MMB_1_1
  config PARAM_BOARD_TYPE
    default "MMB11"

  choice MMU_CONNECTION_TYPE
    default CHOICE_MMU_CONNECTION_TYPE_SERIAL
  endchoice
  choice MMU_SERIAL_DEVICE
    default $(mmu_serial_config,1,stm32)
  endchoice

  config PIN_GEAR_UART 
    default "$(MCU_NAME):PA10" 
  config PIN_GEAR_STEP
    default "$(MCU_NAME):PB15" 
  config PIN_GEAR_DIR
    default "$(MCU_NAME):PB14" 
  config PIN_GEAR_ENABLE
    default "!$(MCU_NAME):PB8" 
  config PIN_GEAR_DIAG
    default "$(MCU_NAME):PA3" 

  if VIRTUAL_SELECTOR
    config PIN_GEAR_UART_1 
      default "$(MCU_NAME):PC7" 
    config PIN_GEAR_STEP_1
      default "$(MCU_NAME):PD2" 
    config PIN_GEAR_DIR_1
      default "$(MCU_NAME):PB13" 
    config PIN_GEAR_ENABLE_1
      default "!$(MCU_NAME):PD1" 
    config PIN_GEAR_DIAG_1
      default "$(MCU_NAME):PA4" 

    config PIN_GEAR_UART_2 
      default "$(MCU_NAME):PC6" 
    config PIN_GEAR_STEP_2
      default "$(MCU_NAME):PD0" 
    config PIN_GEAR_DIR_2
      default "$(MCU_NAME):PB3" 
    config PIN_GEAR_ENABLE_2
      default "!$(MCU_NAME):PA15" 
    config PIN_GEAR_DIAG_2
      default "$(MCU_NAME):PB9"

    config PIN_GEAR_UART_3 
      default "$(MCU_NAME):PA9" 
    config PIN_GEAR_STEP_3
      default "$(MCU_NAME):PB6" 
    config PIN_GEAR_DIR_3
      default "$(MCU_NAME):PB7" 
    config PIN_GEAR_ENABLE_3
      default "!$(MCU_NAME):PB5" 
    config PIN_GEAR_DIAG_3
      default "$(MCU_NAME):PB8" 

    config PIN_PRE_GATE_0
      default "$(MCU_NAME):PB11" 
    config PIN_PRE_GATE_1
      default "$(MCU_NAME):PA3" 
    config PIN_PRE_GATE_2
      default "$(MCU_NAME):PB9" 
    config PIN_PRE_GATE_3
      default "$(MCU_NAME):PA8" 

    config PIN_GEAR_SENSOR_0
      default "$(MCU_NAME):PC15"
    config PIN_GEAR_SENSOR_1
      default "$(MCU_NAME):PC13"
    config PIN_GEAR_SENSOR_2
      default "$(MCU_NAME):PC14"
    config PIN_GEAR_SENSOR_3
      default "$(MCU_NAME):PC12"
    
    config PIN_ESPOOLER_RWD_0
      default "$(MCU_NAME):PA0"
    config PIN_ESPOOLER_RWD_1
      default "$(MCU_NAME):PA1"
    config PIN_ESPOOLER_RWD_2
      default "$(MCU_NAME):PB10"
    config PIN_ESPOOLER_RWD_3
      default "$(MCU_NAME):PB2"
  endif

  if !VIRTUAL_SELECTOR
    config PIN_SELECTOR_UART
      default "$(MCU_NAME):PC7" 
    config PIN_SELECTOR_STEP
      default "$(MCU_NAME):PD2" 
    config PIN_SELECTOR_DIR
      default "$(MCU_NAME):PB13" 
    config PIN_SELECTOR_ENABLE
      default "!$(MCU_NAME):PD1" 
    config PIN_SELECTOR_DIAG
      default "$(MCU_NAME):PA4" 
    config PIN_SELECTOR_ENDSTOP
      default "^$(MCU_NAME):PB2" 
    config PIN_SELECTOR_SERVO
      default "$(MCU_NAME):PA0" 

    config PIN_PRE_GATE_0
      default "^$(MCU_NAME):PB9" 
    config PIN_PRE_GATE_1
      default "^$(MCU_NAME):PA8" 
    config PIN_PRE_GATE_2
      default "^$(MCU_NAME):PC15" 
    config PIN_PRE_GATE_3
      default "^$(MCU_NAME):PC13" 
    config PIN_PRE_GATE_4
      default "^$(MCU_NAME):PC14"
    config PIN_PRE_GATE_5
      default "^$(MCU_NAME):PB12"
    config PIN_PRE_GATE_6
      default "^$(MCU_NAME):PB11"
    config PIN_PRE_GATE_7
      default "^$(MCU_NAME):PB10"
  endif

  config PIN_ENCODER
    default "^$(MCU_NAME):PA1" if MMU_HAS_ENCODER
  config PIN_NEOPIXEL
    default "$(MCU_NAME):PA2" 
  config PIN_GATE_SENSOR
    default "^$(MCU_NAME):PA3" if !MMU_HAS_ENCODER 
endif
