config BOARD_TYPE_SKR_PICO_1
  bool "BTT SKR Pico v1.0"

if BOARD_TYPE_SKR_PICO_1
  config PARAM_BOARD_TYPE
    default "SKR_PICO_1"

  choice CHOICE_SERIAL_DEVICE
    default $(serial_config,1,rp2040)
  endchoice

  # MMU Type B
  config PIN_GEAR_UART 
    default "mmu:gpio9" 
  config PIN_GEAR_STEP
    default "mmu:gpio11" 
  config PIN_GEAR_DIR
    default "mmu:gpio10" 
  config PIN_GEAR_ENABLE
    default "!mmu:gpio12" 
  config PIN_GEAR_DIAG
    default "mmu:gpio4" 

  if PARAM_SELECTOR_TYPE = "VirtualSelector"
    config PIN_GEAR_STEP_1
      default "mmu:gpio6" 
    config PIN_GEAR_DIR_1
      default "mmu:gpio5" 
    config PIN_GEAR_ENABLE_1
      default "!mmu:gpio7" 
    config PIN_GEAR_DIAG_1
      default "mmu:gpop3" 

    config PIN_GEAR_STEP_2
      default "mmu:gpio19" 
    config PIN_GEAR_DIR_2
      default "mmu:gpio28" 
    config PIN_GEAR_ENABLE_2
      default "!mmu:gpio2" 
    config PIN_GEAR_DIAG_2
      default "mmu:gpio25"

    config PIN_GEAR_STEP_3
      default "mmu:gpio14" 
    config PIN_GEAR_DIR_3
      default "mmu:gpio13" 
    config PIN_GEAR_ENABLE_3
      default "!mmu:gpio15" 
    config PIN_GEAR_DIAG_3
      default "mmu:gpio16" 
  endif

  if PARAM_SELECTOR_TYPE != "VirtualSelector"
    config PIN_SELECTOR_STEP
      default "mmu:gpio19" 
    config PIN_SELECTOR_DIR
      default "mmu:gpio28" 
    config PIN_SELECTOR_ENABLE
      default "!mmu:gpio2" 
    config PIN_SELECTOR_DIAG
      default "mmu:gpio25" 
    config PIN_SELECTOR_SERVO
      default "mmu:gpio29" 
  endif

  config PIN_NEOPIXEL
    default "mmu:gpio24" 
endif
