config BOARD_TYPE_EASY_BRD 
  bool "Standard EASY-BRD with SAMD21"

if BOARD_TYPE_EASY_BRD
  config PARAM_BOARD_TYPE
    default "Original EASY-BRD with samd21"
  
  choice CHOICE_MMU_CONNECTION_TYPE
    default CHOICE_MMU_CONNECTION_TYPE_SERIAL
  endchoice
  choice CHOICE_MMU_SERIAL_CONNECTION
    default $(mmu_serial_config,1,samd21)
  endchoice

  config PIN_GEAR_UART
    default "$(MCU_NAME):PA8" 
  config PIN_GEAR_STEP
    default "$(MCU_NAME):PA4" 
  config PIN_GEAR_DIR
    default "$(MCU_NAME):PA10" 
  config PIN_GEAR_ENABLE
    default "!$(MCU_NAME):PA2" 

  config PIN_SELECTOR_UART
    default PIN_GEAR_UART 
  config PIN_SELECTOR_STEP
    default "$(MCU_NAME):PA9" 
  config PIN_SELECTOR_DIR
    default "$(MCU_NAME):PB8" 
  config PIN_SELECTOR_ENABLE
    default "!$(MCU_NAME):PA11" 
  config PIN_SELECTOR_DIAG
    default "$(MCU_NAME):PA7" if BOOL_ENABLE_SELECTOR_TOUCH 
  config PIN_SELECTOR_ENDSTOP
    default "^$(MCU_NAME):PB9" if !BOOL_ENABLE_SELECTOR_TOUCH
  config PIN_SELECTOR_SERVO
    default "$(MCU_NAME):PA5" 

  config PIN_ENCODER
    default "^$(MCU_NAME):PA6" if MMU_HAS_ENCODER
  config PIN_GATE_SENSOR
    default "^$(MCU_NAME):PA6" if !MMU_HAS_ENCODER
endif
