config BOARD_TYPE_EASY_BRD_RP2040
  bool "EASY-BRD with RP2040"

if BOARD_TYPE_EASY_BRD_RP2040
  config PARAM_BOARD_TYPE
    default "EASY-BRD with rp2040"

  choice CHOICE_MMU_CONNECTION_TYPE
    default CHOICE_MMU_CONNECTION_TYPE_SERIAL
  endchoice
  choice CHOICE_MMU_SERIAL_CONNECTION
    default $(mmu_serial_config,1,rp2040)
  endchoice

  config PIN_GEAR_UART
    default "$(MCU_NAME):gpio6" 
  config PIN_GEAR_STEP
    default "$(MCU_NAME):gpio27" 
  config PIN_GEAR_DIR
    default "$(MCU_NAME):gpio28" 
  config PIN_GEAR_ENABLE
    default "!$(MCU_NAME):gpio26" 

  config PIN_SELECTOR_UART
    default "$(MCU_NAME):gpio6" 
  config PIN_SELECTOR_STEP
    default "$(MCU_NAME):gpio7" 
  config PIN_SELECTOR_DIR
    default "$(MCU_NAME):gpio0" 
  config PIN_SELECTOR_ENABLE
    default "!$(MCU_NAME):gpio29" 
  config PIN_SELECTOR_DIAG
    default "$(MCU_NAME):gpio2" if BOOL_ENABLE_SELECTOR_TOUCH 
  config PIN_SELECTOR_ENDSTOP
    default "^$(MCU_NAME):gpio1" if !BOOL_ENABLE_SELECTOR_TOUCH
  config PIN_SELECTOR_SERVO
    default "$(MCU_NAME):gpio4" 

  config PIN_ENCODER
    default "^$(MCU_NAME):gpio3" if MMU_HAS_ENCODER
  config PIN_GATE_SENSOR
    default "^$(MCU_NAME):gpio3" if !MMU_HAS_ENCODER 
endif
