config BOARD_TYPE_SKR_PICO_1
  bool "BTT SKR Pico v1.0"

if BOARD_TYPE_SKR_PICO_1
  config PARAM_BOARD_TYPE
    default "BTT SKR Pico v1"

  choice CHOICE_MMU_CONNECTION_TYPE
    default CHOICE_MMU_CONNECTION_TYPE_SERIAL
  endchoice
  choice CHOICE_MMU_SERIAL_CONNECTION
    default $(mmu_serial_config,1,rp2040)
  endchoice

  # MMU Type B
  config PIN_GEAR_UART 
    default "$(MCU_NAME):gpio9" 
  config PIN_GEAR_STEP
    default "$(MCU_NAME):gpio11" 
  config PIN_GEAR_DIR
    default "$(MCU_NAME):gpio10" 
  config PIN_GEAR_ENABLE
    default "!$(MCU_NAME):gpio12" 
  config PIN_GEAR_DIAG
    default "$(MCU_NAME):gpio4" 

  if VIRTUAL_SELECTOR
    config PIN_GEAR_STEP_1
      default "$(MCU_NAME):gpio6" 
    config PIN_GEAR_DIR_1
      default "$(MCU_NAME):gpio5" 
    config PIN_GEAR_ENABLE_1
      default "!$(MCU_NAME):gpio7" 
    config PIN_GEAR_DIAG_1
      default "$(MCU_NAME):gpop3" 

    config PIN_GEAR_STEP_2
      default "$(MCU_NAME):gpio19" 
    config PIN_GEAR_DIR_2
      default "$(MCU_NAME):gpio28" 
    config PIN_GEAR_ENABLE_2
      default "!$(MCU_NAME):gpio2" 
    config PIN_GEAR_DIAG_2
      default "$(MCU_NAME):gpio25"

    config PIN_GEAR_STEP_3
      default "$(MCU_NAME):gpio14" 
    config PIN_GEAR_DIR_3
      default "$(MCU_NAME):gpio13" 
    config PIN_GEAR_ENABLE_3
      default "!$(MCU_NAME):gpio15" 
    config PIN_GEAR_DIAG_3
      default "$(MCU_NAME):gpio16" 
  endif

  if !VIRTUAL_SELECTOR
    config PIN_SELECTOR_STEP
      default "$(MCU_NAME):gpio19" 
    config PIN_SELECTOR_DIR
      default "$(MCU_NAME):gpio28" 
    config PIN_SELECTOR_ENABLE
      default "!$(MCU_NAME):gpio2" 
    config PIN_SELECTOR_DIAG
      default "$(MCU_NAME):gpio25" 
    config PIN_SELECTOR_SERVO
      default "$(MCU_NAME):gpio29" 
  endif

  config PIN_NEOPIXEL
    default "$(MCU_NAME):gpio24" 
endif
