config MMU_HAS_SENSOR_PRE_GATE
  bool "Pre-Gate sensors?"
  help
    Select if you have per-gate filament sensors at the entry to the
    MMU. This aid early filament runout detection and allow for
    autoload features.
