config MMU_HAS_SENSOR_ENTRY
  bool "Entry sensors?"
  help
    Select if you have pre-gate filament sensors at the entry to the
    MMU. This aid early filament runout detection and allow for
    autoload features.
