config MMU_HAS_SENSOR_TOOLHEAD
  bool "Has toolhead sensor?"
  help
    Select if you have a filament sensor inside of your toolhead after
    the extruder drive. This is normally connected to a pin on your main
    printer MCU so specify it here.

config PIN_TOOLHEAD_SENSOR
  prompt "Extruder sensor pin" if MMU_HAS_SENSOR_TOOLHEAD
  help
    Can also be set under \"Pins\" section
