config MMU_HAS_SENSOR_EXTRUDER
  bool "Has extruder (entry) sensor?"
  help
    Select if you have a filament sensor at or just prior to
    the extruder entry. This is normally connected to a pin on your main
    printer MCU so specify it here.
  
config PIN_EXTRUDER_SENSOR
  prompt "Extruder sensor pin" if MMU_HAS_SENSOR_EXTRUDER
  help
    Can also be set under \"Pins\" section
