if !MMU_CANNOT_HAVE_FILAMENT_BUFFER

  config MMU_HAS_FILAMENT_BUFFER
    bool "Has filament buffer?"
    help
      Does MMU have a buffer to catch the uncoiled filament on unload. Note
      that a passive rewinder like Filamentalist is not a filament buffer
      because it alleviates the need for one!

endif
