config MMU_HAS_LEDS
  help
    Select if your MMU has LEDs. This will install the LED driver but
    will still need to finialize configuration in the generated klipper
    config files or you can edit parameters in "Advanced" section.
  prompt "Has Leds?"

if MMU_HAS_LEDS
  menu "Led Options"
    help
      Select default led options

    config ENABLE_LEDS
      help
        This allows you to install but turn off LED on startup.
      prompt "Enable on start?"

    config ANIMATE_LEDS
      help
        This allows you to turn off LED animations perhaps reducing the overhead
        on your main klipper CPU. Only disable if you have frequent TTC errors.
        (rarely necessary)
      prompt "Enable animation?"

  endmenu
endif
