# Defines whether MMU is equipped with sync-feedback "buffer" in bowden path
#
# Responsible for setting:
#   MMU_HAS_SYNC_FEEDBACK_BUFFER
#   (MMU_HAS_SENSOR_SYNC_FEEDBACK_COMPRESSION)
#   (MMU_HAS_SENSOR_SYNC_FEEDBACK_TENSION)

config MMU_HAS_SYNC_FEEDBACK_BUFFER
  prompt "Has sync-feedback buffer?"
  forceshow
  help
    A sync-feedback sensor (often referred to as a "buffer") is
    a sensor connected in the bowden path that can detect filament
    compression and/or tension.

if MMU_HAS_SYNC_FEEDBACK_BUFFER
  menu "Options"
    help
      Select sync-feedback buffer options

    source "sensors/Kconfig.sync_feedback"
  endmenu
endif
