# Defines whether MMU has eject buttons
#
# Responsible for setting:
#   MMU_HAS_ENCODER

if !MMU_DISABLE_EJECT_BUTTONS_OPTION

  config MMU_HAS_EJECT_BUTTONS
    help
      Some MMU designs have dedicated eject buttons. Select this
      option to allow pin editing and inclusion in config template
    prompt "Has Eject buttons?"
    forceshow

endif
