config MMU_HAS_SYNC_FEEDBACK_BUFFER
  prompt "Has sync-feedback buffer?"
  help
    A sync-feedback sensor (often referred to as a "buffer") is
    a sensor connected in the bowden path that can detect filament
    compression and/or tension.

if MMU_HAS_SYNC_FEEDBACK_BUFFER
  menu "Options"
    help
      Select sync-feedback buffer options

    rsource "sensors/Kconfig.sync_feedback"

  endmenu
endif
