# Defines whether MMU is equipped with sync-feedback "buffer" in bowden path
#
# Responsible for setting:
#   MMU_HAS_SYNC_FEEDBACK_BUFFER
#   MMU_SHARED_SYNC_FEEDBACK_BUFFER
#   (MMU_HAS_SENSOR_SYNC_FEEDBACK_COMPRESSION)
#   (MMU_HAS_SENSOR_SYNC_FEEDBACK_TENSION)

config MMU_HAS_SYNC_FEEDBACK_BUFFER
  prompt "Has sync-feedback buffer?"
  forceshow
  help
    A sync-feedback sensor (often referred to as a "buffer") is
    a sensor connected in the bowden path that can detect filament
    compression and/or tension.

if MMU_HAS_SYNC_FEEDBACK_BUFFER

  config MMU_SHARED_SYNC_FEEDBACK_BUFFER
    depends on MULTI_UNIT
    bool "Shared"
    default n

  if MMU_SHARED_SYNC_FEEDBACK_BUFFER
    config PARAM_SYNC_FEEDBACK_BUFFER_NAME
      prompt "Sync feedback buffer name"
      default "" # Encourage entering of name
      help
        PAUL TODO add help explaining sharing here
  endif

  if !MMU_SHARED_SYNC_FEEDBACK_BUFFER
    menu "Options"
      help
        Select sync-feedback buffer options

      source "sensors/Kconfig.sync_feedback"
    endmenu
  endif
endif
