config ADDON_DC_ESPOOLER
  bool "Enable eSpooler support?"

config PARAM_DC_ESPOOLER_START_MACRO
  string
  default "MMU_ESPOOLER_START" if ENABLE_DC_ESPOOLER_MACROS
  default ""
config PARAM_DC_ESPOOLER_STOP_MACRO
  string
  default "MMU_ESPOOLER_STOP" if ENABLE_DC_ESPOOLER_MACROS
  default ""

if ADDON_DC_ESPOOLER
  config INSTALL_DC_ESPOOLER
    bool "Install eSpooler include in printer.cfg?"
    default y

  config ENABLE_DC_ESPOOLER_MACROS
    bool "Configure eSpooler start and stop macros?"
    depends on INSTALL_DC_ESPOOLER
    default y

  
  menu "eSpooler pins"
    if PARAM_NUM_GATES > 0
      config PIN_DC_ESPOOLER_EN_0
        string "eSpooler enable 0 pin"
      config PIN_DC_ESPOOLER_RWD_0
        string "eSpooler rewind 0 pin"
      config PIN_DC_ESPOOLER_FWD_0
        string "eSpooler forward 0 pin"
    endif
  
    if PARAM_NUM_GATES > 1
      config PIN_DC_ESPOOLER_EN_1
        string "eSpooler enable 1 pin"
      config PIN_DC_ESPOOLER_RWD_1
        string "eSpooler rewind 1 pin"
      config PIN_DC_ESPOOLER_FWD_1
        string "eSpooler forward 1 pin"
    endif
  
    if PARAM_NUM_GATES > 2
      config PIN_DC_ESPOOLER_EN_2
        string "eSpooler enable 2 pin"
      config PIN_DC_ESPOOLER_RWD_2
        string "eSpooler rewind 2 pin"
      config PIN_DC_ESPOOLER_FWD_2
        string "eSpooler forward 2 pin"
    endif
  
    if PARAM_NUM_GATES > 3
      config PIN_DC_ESPOOLER_EN_3
        string "eSpooler enable 3 pin"
      config PIN_DC_ESPOOLER_RWD_3
        string "eSpooler rewind 3 pin"
      config PIN_DC_ESPOOLER_FWD_3
        string "eSpooler forward 3 pin"
    endif
  endmenu
endif
