config ADDON_EREC_CUTTER
  bool "Enable EREC filament cutter support?"

config INSTALL_EREC_CUTTER
  bool "Install EREC filament cutter include in printer.cfg?"
  depends on ADDON_EREC_CUTTER

menu "EREC filament cutter pins"
  depends on ADDON_EREC_CUTTER
  config PIN_EREC_CUTTER_SERVO
    string "EREC filament cutter servo pin"
    default "mmu:PA7"
endmenu
