config MMU_TYPE_MMX6_1_0
  bool "MMX6 1.0"
  help
    MMX6 is a 6 gate type-A MMU using a stepper to control
    cam mechanism to select filament gate.
  select MMU_HAS_SELECTOR_STEPPER
  select MMU_HAS_LEDS
  select PARAM_REQUIRE_BOWDEN_MOVE
  select PARAM_FILAMENT_ALWAYS_GRIPPED
  select ROTARY_SELECTOR
  

if MMU_TYPE_MMX6_1_0

  menu "Project Options"
    help
      If you have any project upgrades then you can specify them here.

    config MOD_PRO
      bool "Pro version"
      help
        Select if building with the LDO "pro" version of the kit.
  endmenu

  if SHOW_MMU_ADDITIONS_WITH_TYPE
    source "mmu_additions/Kconfig"
  endif

  ####################
  ##### Defaults #####
  ####################

  # PAUL These are placeholders. TODO..
  config PARAM_VENDOR
    default "MMX6"
  config PARAM_VERSION
    default "1.0"
  config PARAM_NUM_GATES
    default 6

  config PARAM_GEAR_GEAR_RATIO
    default "80:20"
  config PARAM_GEAR_RUN_CURRENT
    default "0.7"
  config PARAM_GEAR_HOLD_CURRENT
    default "0.1"

  config PARAM_GATE_PARKING_DISTANCE
    default "25"
  config PARAM_GATE_HOMING_MAX
    default "1000"

  config PARAM_CHAIN_COUNT
    default PARAM_NUM_GATES

endif 
