config MMU_TYPE_KMS_1_0
  bool "KMS v1.0"
  help
    KMS is a type-B MMU with kits from BIQU. It had many features (including
    integrated encoder) in a sealed enclosure utilizing a passive respooler
    system based on Filamentalist.
  select VIRTUAL_SELECTOR
  select MMU_HAS_ENCODER
  select MMU_HAS_ESPOOLER
  select MMU_HAS_ENVIRONMENT_SENSOR
  select MMU_HAS_LEDS
  select MMU_HAS_SENSOR_PRE_GATE
  select PARAM_VARIABLE_ROTATION_DISTANCES
  select PARAM_REQUIRE_BOWDEN_MOVE
  select PARAM_FILAMENT_ALWAYS_GRIPPED
  select BOOL_ENABLE_SYNC_TO_EXTRUDER
  select BOOL_ENABLE_SYNC_FORM_TIP
  select BOOL_ENABLE_SYNC_PURGE
  select MMU_DISABLE_FILAMENT_BUFFER_OPTION
  imply OPTION_KMS_BUFFER

if MMU_TYPE_KMS_1_0
  config OPTION_KMS_BUFFER
    bool "KMS buffer"
    help
      Select if using the KMS brand buffer connected to the bowden tube using its
      integrated mcu. Don't select if using a different buffer system (instead add
      under MMU additions)
    select MMU_HAS_BUFFER_MCU
    select MMU_HAS_SENSOR_POST_GEAR
    select MMU_HAS_SYNC_FEEDBACK_BUFFER
    select MMU_HAS_SENSOR_SYNC_FEEDBACK_COMPRESSION
    select MMU_HAS_SENSOR_SYNC_FEEDBACK_TENSION
endif

if MMU_TYPE_KMS_1_0

  if SHOW_MMU_ADDITIONS_WITH_TYPE
    source "mmu_additions/Kconfig"
  endif

  ####################
  ##### Defaults #####
  ####################

  config PARAM_VENDOR
    default "KMS"
  config PARAM_VERSION
    default "1.0"  
  config PARAM_NUM_GATES
    default 4
  choice BOARD_TYPE
    default BOARD_TYPE_KMS_1_0
  endchoice

  config PARAM_GEAR_GEAR_RATIO
    default "50:17"
  config PARAM_GEAR_RUN_CURRENT
    default "0.7"
  config PARAM_GEAR_HOLD_CURRENT
    default "0.1"

  # "Leds" config
  config PARAM_CHAIN_COUNT
    default 4
  config PARAM_COLOR_ORDER
    default "GRBW"
  config PARAM_EXIT_LEDS 
    default "neopixel:$(UNIT_NAME)_leds (1-4)"

  # "Gates" config
  config PARAM_GATE_HOMING_MAX
    default "300"
  config PARAM_GATE_PRELOAD_HOMING_MAX
    default "300"
  config PARAM_GATE_PRELOAD_PARKING_DISTANCE
    default "-10"
  config PARAM_GATE_PARKING_DISTANCE
    default "20"
  config PARAM_GATE_ENDSTOP_TO_ENCODER
    default "14"
  config PARAM_GATE_FINAL_EJECT_DISTANCE
    default "300"

  # "Motor sync" config
  config PARAM_SYNC_FEEDBACK_BUFFER_RANGE
    default "8"
  config PARAM_SYNC_FEEDBACK_BUFFER_MAXRANGE
    default "12"

  # Calibration and Autotuning
  config BOOL_AUTOCAL_BOWDEN_LENGTH
    default y
  config BOOL_AUTOTUNE_BOWDEN_LENGTH
    default n
  config BOOL_SKIP_CAL_ROTATION_DISTANCE
    default y
  if MMU_HAS_SYNC_FEEDBACK_BUFFER
    config BOOL_AUTOTUNE_ROTATION_DISTANCE
      default y
  endif
  config BOOL_SKIP_CAL_ENCODER
    default n
  config BOOL_AUTOTUNE_ENCODER
    default n

  config PARAM_ENVIRONMENT_SENSOR
    default "temperature_sensor $(UNIT_NAME)_enviroment"

  config PARAM_MISC_HARDWARE
    default "$(ml,\
[temperature_sensor $(UNIT_NAME)_enviroment]\n\
sensor_type: HTU21D\n\
i2c_mcu: $(MCU_NAME)\n\
htu21d_report_time: 10\n\
i2c_software_scl_pin: $(MCU_NAME):PB10\n\
i2c_software_sda_pin: $(MCU_NAME):PB11\n\
\n\
[heater_fan $(UNIT_NAME)_fan_left]\n\
pin: $(MCU_NAME):PC3\n\
shutdown_speed: 0\n\
heater: MMU_heater_kms\n\
\n\
[heater_fan $(UNIT_NAME)_fan_right]\n\
pin: $(MCU_NAME):PC1\n\
shutdown_speed: 0\n\
heater: $(UNIT_NAME)_heater\n\
\n\
[heater_generic $(UNIT_NAME)_heater]\n\
gcode_id: $(UNIT_NAME)\n\
heater_pin: $(MCU_NAME):PB1\n\
max_power:1.0\n\
sensor_type: EPCOS 100K B57560G104F\n\
pullup_resistor: 2200\n\
sensor_pin: $(MCU_NAME):PA4\n\
control: watermark\n\
min_temp: 0\n\
max_temp: 70\n\
)" if BOARD_TYPE_KMS_1_0

endif 
