config MMU_FAMILY_QUATTRO_BOX
  bool "QuattroBox"
  help
    QuattroBox is type-B MMU with 4 gates. It uses a Filamentalist based
    design for spool respooling leveraging gear steppers for motion.
    Has integrated encoder for measurement of filament movement.
    Has eject button option -- be sure to install eject button addon.
  select VIRTUAL_SELECTOR
  select MMU_HAS_ENCODER
  select PARAM_VARIABLE_ROTATION_DISTANCES
  select PARAM_VARIABLE_BOWDEN_LENGTHS
  select PARAM_FILAMENT_ALWAYS_GRIPPED
  select ADDON_EJECT_BUTTONS      
  select PARAM_REQUIRE_BOWDEN_MOVE
  select MMU_DISABLE_ESPOOLER_OPTION
  select MMU_DISABLE_FILAMENT_BUFFER_OPTION
  imply BOOL_ENABLE_LEDS

if MMU_FAMILY_QUATTRO_BOX
  choice
    prompt "Version"
  
    config MMU_TYPE_QUATTRO_BOX_1_0
      bool "QuattroBox v1.0"
      select MMU_HAS_LEDS
      select BOOL_ENABLE_SYNC_TO_EXTRUDER
      select BOOL_ENABLE_SYNC_FORM_TIP
      select BOOL_ENABLE_SYNC_PURGE

      config MMU_TYPE_QUATTRO_BOX_1_1
      bool "QuattroBox v1.1"
      help
        Version 1.1 has updated LEDs.
    endchoice

  if SHOW_MMU_ADDITIONS_WITH_TYPE
    source "mmu_additions/Kconfig"
  endif

  ####################
  ##### Defaults #####
  ####################
  
  config PARAM_MMU_VENDOR
    default "QuattroBox"
  config PARAM_NUM_GATES
    default 4

  config PARAM_GEAR_GEAR_RATIO
    default "50:17"
  config PARAM_GEAR_RUN_CURRENT
    default "1.27"
  config PARAM_GEAR_HOLD_CURRENT
    default "0.2"
  config PARAM_GEAR_HOMING_SPEED
    default "80"
  
  config PARAM_GATE_HOMING_MAX
    default "200"
  config PARAM_GATE_PRELOAD_HOMING_MAX
    default "200"
  config PARAM_GATE_PARKING_DISTANCE
    default "30"
  config PARAM_GATE_ENDSTOP_TO_ENCODER
    default "18"
  config PARAM_GATE_FINAL_EJECT_DISTANCE
    default "200"

# PAUL
#  choice CHOICE_GATE_HOMING_ENDSTOP
#    default GATE_HOMING_ENDSTOP_GATE
#  endchoice
#  choice CHOICE_EXTRUDER_HOMING_ENDSTOP
#    default EXTRUDER_HOMING_ENDSTOP_COLLISION
#  endchoice

  if MMU_TYPE_QUATTRO_BOX_1_0
    config PARAM_MMU_VERSION
      default "1.0"  
    config PARAM_CHAIN_COUNT
      default 32   
    config PARAM_COLOR_ORDER
      default "GRBW,GRBW,GRBW,GRBW,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB"
    config PARAM_EXIT_LEDS 
      default "neopixel:$(UNIT_NAME)_leds (1-4)"
    config PARAM_STATUS_LEDS
      default "neopixel:$(UNIT_NAME)_leds (5-14)"
    config PARAM_LOGO_LEDS
      default "neopixel:$(UNIT_NAME)_leds (15-32)"
  endif 

  if MMU_TYPE_QUATTRO_BOX_1_1
    config PARAM_MMU_VERSION
      default "1.1"  

    config PARAM_CHAIN_COUNT
      default 36   
    config PARAM_COLOR_ORDER
      default "GRBW,GRBW,GRBW,GRBW,GRBW,GRBW,GRBW,GRBW,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB"
    config PARAM_EXIT_LEDS 
      default "neopixel:$(UNIT_NAME)_leds (2,4,6,8)"
    config PARAM_STATUS_LEDS
      default "neopixel:$(UNIT_NAME)_leds (1,3,5,7)"
    config PARAM_LOGO_LEDS
      default "neopixel:$(UNIT_NAME)_leds (9-36)"
  endif
endif
