config MMU_TYPE_VVD_1_0
  bool "BTT ViViD"
  select INDEXED_SELECTOR
  select MMU_HAS_SELECTOR_STEPPER
  select MMU_HAS_LEDS
  select MMU_HAS_SENSOR_PRE_GATE
  select MMU_HAS_ESPOOLER
  select PARAM_REQUIRE_BOWDEN_MOVE
  select MMU_DISABLE_FILAMENT_BUFFER_OPTION
  imply OPTION_VVD_BUFFER

if MMU_TYPE_VVD_1_0
  config OPTION_VVD_BUFFER
    bool "BTT ViViD buffer"
    help
      Select if using the BTT ViViD brand buffer connected to the bowden tube using its
      integrated mcu. Don't select if using a different buffer system (instead add
      under MMU additions)
    select MMU_HAS_BUFFER_MCU
    select MMU_HAS_SENSOR_POST_GEAR
    select MMU_HAS_SYNC_FEEDBACK_BUFFER
    select MMU_HAS_SENSOR_SYNC_FEEDBACK_COMPRESSION
    select MMU_HAS_SENSOR_SYNC_FEEDBACK_TENSION
endif

if MMU_TYPE_VVD_1_0
  if SHOW_MMU_ADDITIONS_WITH_TYPE
    source "mmu_additions/Kconfig"
  endif

  ####################
  ##### Defaults #####
  ####################

  config PARAM_VENDOR
    default "VVD"
  config PARAM_VERSION
    default "1.0" 
  config PARAM_NUM_GATES
    default 4
  choice BOARD_TYPE
    default BOARD_TYPE_VVD_1_0
  endchoice

  config PARAM_GEAR_GEAR_RATIO
    default "1:1"
  config PARAM_GEAR_ROTATION_DISTANCE
    default "7.8"
  config PARAM_GEAR_RUN_CURRENT
    default "0.7"
  config PARAM_GEAR_HOLD_CURRENT
    default "0.1"

  config PARAM_GEAR_HOMING_SPEED
    default "80"

  config PARAM_SELECTOR_GEAR_RATIO
    default "25:10"
  config PARAM_SELECTOR_ROTATION_DISTANCE
    default "360"
  config PARAM_SELECTOR_RUN_CURRENT
    default "0.8"
  config PARAM_SELECTOR_HOLD_CURRENT
    default "0.3"

  config PARAM_GATE_PARKING_DISTANCE
    default "-10"
  config PARAM_GATE_HOMING_MAX
    default "500"
  
  config PARAM_CHAIN_COUNT
    default 28   
  config PARAM_COLOR_ORDER
    default "GRB"
  config PARAM_EXIT_LEDS 
    default "neopixel:$(UNIT_NAME)_leds_1 (1-14)\\n             neopixel:$(UNIT_NAME)_leds_2 (1-14)"

  config PARAM_MISC_HARDWARE
    default "$(ml,\
[neopixel $(UNIT_NAME)_leds_1]\n\
pin: $(MCU_NAME):PC6\n\
chain_count: 14\n\
color_order: GRB\n\
 \n\
[neopixel $(UNIT_NAME)_leds_2]\n\
pin: $(MCU_NAME):PC7\n\
chain_count: 14\n\
color_order: GRB\n\
\n\
[temperature_sensor $(UNIT_NAME)_env_left]\n\
sensor_type: AHT10 # Actually a ACT30$(comma) set 'update_aht10_commands: 1' in mmu.cfg\n\
i2c_mcu: $(MCU_NAME)\n\
i2c_bus: i2c1_PA9_PA10\n\
aht10_report_time: 10\n\
\n\
[temperature_sensor $(UNIT_NAME)_env_right]\n\
sensor_type: AHT10 # Actually a ACT30$(comma) set 'update_aht10_commands: 1' in mmu.cfg\n\
i2c_mcu: $(MCU_NAME)\n\
i2c_software_scl_pin: PA7\n\
i2c_software_sda_pin: PA6\n\
aht10_report_time: 10\n\
\n\
[heater_generic $(UNIT_NAME)_heater]\n\
gcode_id:  $(UNIT_NAME)_heater\n\
heater_pin: $(MCU_NAME):PC14\n\
sensor_type: temperature_combined\n\
sensor_list: temperature_sensor ${UNIT_NAME}_env_left$(comma) temperature_sensor ${UNIT_NAME}_env_right\n\
combination_method: mean\n\
maximum_deviation: 100\n\
control: pid\n\
pid_Kp: 51.604\n\
pid_Ki: 1.121\n\
pid_Kd: 593.934\n\
min_temp: -100\n\
max_temp: 70\n\
\n\
[verify_heater $(UNIT_NAME)_heater]\n\
max_error: 300\n\
check_gain_time: 600\n\
hysteresis: 10\n\
heating_gain: 1\n\
\n\
[heater_fan $(UNIT_NAME)_fan]\n\
pin: $(MCU_NAME):PC15\n\
shutdown_speed: 0\n\
heater: $(UNIT_NAME)_heater\n\
\n\
# Electronics cooling fan\n\
[controller_fan $(UNIT_NAME)_mcu_fan]\n\
pin: $(MCU_NAME):PA14\n\
stepper: stepper mmu_selector_$(UNIT_NAME)$(comma) stepper mmu_gear_$(UNIT_NAME)\n\
\n\
[temperature_sensor ptc_ntc100k]\n\
sensor_pin: $(MCU_NAME):PA4\n\
sensor_type: Generic 3950\n\
pullup_resistor: 2200\n\
)" if BOARD_TYPE_VVD_1_0

endif 
