config MMU_TYPE_ANGRY_BEAVER_1_0
  bool "Angry Beaver v1.0"
  help
    Angry Beaver is a very simple type-B MMU design that emphasizes
    reliability. A unique feature is the 4-filament bowden that parks
    filament near the toolhead for fast tool swaps. Exploiting this
    feature does limit the MMU to 4 gates/lanes.
  select VIRTUAL_SELECTOR
  select MMU_HAS_LEDS
  select PARAM_VARIABLE_ROTATION_DISTANCES
  select PARAM_FILAMENT_ALWAYS_GRIPPED
  select BOOL_ENABLE_SYNC_TO_EXTRUDER
  select BOOL_ENABLE_SYNC_FORM_TIP
  select BOOL_ENABLE_SYNC_PURGE

if MMU_TYPE_ANGRY_BEAVER_1_0
  if SHOW_MMU_ADDITIONS_WITH_TYPE
    source "mmu_additions/Kconfig"
  endif

  ####################
  ##### Defaults #####
  ####################

  config PARAM_MMU_VENDOR
    default "AngryBeaver"
  config PARAM_MMU_VERSION
    default "1.0" 
  config PARAM_NUM_GATES
    default 4
  choice CHOICE_BOARD_TYPE
    default BOARD_TYPE_MMB_2_0
  endchoice

  config PARAM_GEAR_GEAR_RATIO
    default "1:1"
  config PARAM_GEAR_RUN_CURRENT
    default "0.7"
  config PARAM_GEAR_HOLD_CURRENT
    default "0.1"

  config PARAM_GEAR_HOMING_SPEED
    default "80"
    
  config PARAM_GATE_HOMING_MAX
    default "500"
  config PARAM_GATE_PARKING_DISTANCE
    default "50"

# PAUL
#  choice CHOICE_GATE_HOMING_ENDSTOP
#    default CHOICE_GATE_HOMING_ENDSTOP_EXTRUDER
#  endchoice
#  choice CHOICE_EXTRUDER_HOMING_ENDSTOP
#    default CHOICE_EXTRUDER_HOMING_ENDSTOP_EXTRUDER
#  endchoice
endif 
