config MMU_TYPE_VVD_1_0
  bool "BTT ViViD"
  select MMU_HAS_SELECTOR
  select MMU_HAS_LEDS
  select MMU_HAS_ESPOOLER
  select PARAM_REQUIRE_BOWDEN_MOVE
  select MMU_DISABLE_FILAMENT_BUFFER_OPTION
  imply OPTION_VVD_BUFFER

if MMU_TYPE_VVD_1_0
  config OPTION_VVD_BUFFER
    help
      Select if using the BTT ViViD brand buffer connected to the bowden tube using its
      integrated mcu. Don't select if using a different buffer system (instead add
      under MMU additions)
    bool "BTT ViViD buffer"
    select MMU_HAS_SYNC_FEEDBACK_BUFFER
    select MMU_HAS_SENSOR_SYNC_FEEDBACK_COMPRESSION
    select MMU_HAS_SENSOR_SYNC_FEEDBACK_TENSION
endif

if MMU_TYPE_VVD_1_0
  if SHOW_MMU_ADDITIONS_WITH_TYPE
    rsource "../mmu_additions/Kconfig"
  endif
endif

if MMU_TYPE_VVD_1_0
  config PARAM_MMU_VENDOR
    default "VVD"
  config PARAM_MMU_VERSION
    default "1.0" 
  config PARAM_NUM_GATES
    default 4
  choice CHOICE_SELECTOR_TYPE
    default INDEXED_SELECTOR
  endchoice

  config PARAM_GEAR_GEAR_RATIO
    default "1:1"
  config PARAM_GEAR_ROTATION_DISTANCE
    default "7.8"
  config PARAM_GEAR_RUN_CURRENT
    default "0.7"
  config PARAM_GEAR_HOLD_CURRENT
    default "0.1"

  config PARAM_GEAR_HOMING_SPEED
    default "80"

  config PARAM_SELECTOR_GEAR_RATIO
    default "25:10"
  config PARAM_SELECTOR_ROTATION_DISTANCE
    default "360"
  config PARAM_SELECTOR_RUN_CURRENT
    default "0.8"
  config PARAM_SELECTOR_HOLD_CURRENT
    default "0.3"

  config PARAM_GATE_PARKING_DISTANCE
    default "-10"
  config PARAM_GATE_HOMING_MAX
    default "500"
  
  choice CHOICE_GATE_HOMING_ENDSTOP
    default GATE_HOMING_ENDSTOP_GEAR
  endchoice
  choice CHOICE_EXTRUDER_HOMING_ENDSTOP
    default EXTRUDER_HOMING_ENDSTOP_NONE
  endchoice

  config PARAM_CHAIN_COUNT
    default 28   
  config PARAM_COLOR_ORDER
    default "GRBW,GRBW,GRBW,GRBW,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB"
  config PARAM_EXIT_LEDS 
    default "neopixel:mmu_leds_1 (1-14)\nneopixel:mmu_leds_2 (1-14)"

# PAUL TODO... misc h/w setup
#
# [neopixel mmu_leds_1]
# pin: unit0:PC6
# chain_count: 14
# color_order: GRB
#  
# [neopixel mmu_leds_2]
# pin: unit0:PC7
# chain_count: 14
# color_order: GRB

# [temperature_sensor aht30_left]
# sensor_type: AHT10
# i2c_mcu: unit0
# i2c_bus: i2c1_PA9_PA10
# aht10_report_time: 5
#
# [temperature_sensor aht30_right]
# sensor_type: AHT10
# i2c_mcu: unit0
# i2c_bus: i2c3_PA7_PA6
# aht10_report_time: 5
#
# [heater_generic MMU_heater_vivid]
# gcode_id:  mmu_heater_vivid
# heater_pin: unit0:PC14
# sensor_type: temperature_combined # PAUL TODO need to add this...
# sensor_list: temperature_sensor aht30_left, temperature_sensor aht30_right
# combination_method: mean
# maximum_deviation: 100
# control: pid
# pid_Kp=51.604
# pid_Ki=1.121
# pid_Kd=593.934
# min_temp: -100
# max_temp: 70
#
# # PAUL ? saftey monitoring..?
# #[verify_heater vivid_heater]
# #max_error: 300
# #check_gain_time: 600
# #hysteresis: 10
# #heating_gain: 1
#
# [heater_fan MMU_vivid_box_fan]
# pin: unit0:PC15
# shutdown_speed: 0
# heater: MMU_heater_vivid
#
# # Electronics cooling fan
# [controller_fan my_controller_fan]
# pin: unit0:PA14
# stepper: stepper mmu_selector_unit0, stepper mmu_gear_unit0
#
# # PAUL what is this used for?
# [temperature_sensor ptc_ntc100k]
# sensor_pin: unit0:PA4
# sensor_type: Generic 3950
# pullup_resistor: 2200

  config PARAM_MISC_HARDWARE
    default "PAUL TODO"

endif 
