config MMU_FAM_TEST
 bool "Test MMU Family"

if MMU_FAM_TEST
 choice CHOICE_TEST_1
  prompt "Test MMU Type"
  config TEST_ 
			bool "Test MMU Type v1"
			help
					Test MMU Type v1
					Test MMU Type v1
					Setting the Test MMU Type v1 and fitted options or popular mods should
					be done first and will default many software options to those
					recommended by the MMU designer or Happy Hare author.
config TEST_2
bool "testestes"
  endchoice
 endif
