config MMU_TYPE_BOX_TURTLE_1_0
  bool "Box Turtle"
  help
    Box Turtle is typically a 4 gate type-B MMU/AFC with separate
    gear steppers for each gate and utilizes a DC motor for respooling
    and optionally assisting spool movement. Build options include TurtleNeck
    "buffer" which provides feedback of filament compression/tension.
  select VIRTUAL_SELECTOR
  select MMU_HAS_ESPOOLER
  select MMU_HAS_LEDS
  imply  MMU_HAS_SENSOR_ENTRY
  imply  MMU_HAS_SENSOR_EXIT
  imply  MMU_HAS_SENSOR_SHARED_EXIT
  select PARAM_VARIABLE_ROTATION_DISTANCES
  select PARAM_VARIABLE_BOWDEN_LENGTHS
  select PARAM_REQUIRE_BOWDEN_MOVE
  select PARAM_FILAMENT_ALWAYS_GRIPPED
  select PARAM_SYNC_TO_EXTRUDER
  select PARAM_SYNC_FORM_TIP
  select PARAM_SYNC_PURGE
  select DISABLE_NUM_GATES_OPTION
  select UNSELECT_MMU_HAS_FILAMENT_BUFFER # Disable


if MMU_TYPE_BOX_TURTLE_1_0

  choice CHOICE_TURTLE_NECK
    prompt "Turtle Neck"
    default CHOICE_TURTLE_NECK_V2

    config CHOICE_TURTLE_NECK_V1
      bool "Turtle Neck v1"
      help
        The v1 version is unsprung
      select MMU_HAS_SYNC_FEEDBACK_BUFFER
      select MMU_HAS_SENSOR_BUFFER_COMPRESSION
      select MMU_HAS_SENSOR_BUFFER_TENSION
      select UNSELECT_MMU_HAS_SENSOR_BUFFER_PROPORTIONAL

    config CHOICE_TURTLE_NECK_V2
      bool "Turtle Neck v2"
      help
        The v2 version has both filament tension and compression switches.
      select MMU_HAS_SYNC_FEEDBACK_BUFFER
      select MMU_HAS_SENSOR_BUFFER_COMPRESSION
      select MMU_HAS_SENSOR_BUFFER_TENSION
      select UNSELECT_MMU_HAS_SENSOR_BUFFER_PROPORTIONAL

    config CHOICE_TURTLE_NECK_OTHER
      bool "Other"
      help
        Select if you use another type of sync-feedback buffer
        including the new proportional types
      select MMU_HAS_SYNC_FEEDBACK_BUFFER

  endchoice

  if CHOICE_TURTLE_NECK_V1 || CHOICE_TURTLE_NECK_V2
    choice CHOICE_BUFFER_SPRING_STATE
      default CHOICE_BUFFER_SPRING_STATE_TENSION if CHOICE_TURTLE_NECK_V2
      default CHOICE_BUFFER_SPRING_STATE_NONE    if CHOICE_TURTLE_NECK_V1
    endchoice

    config PARAM_BUFFER_RANGE
      default 8
    config PARAM_BUFFER_MAXRANGE
      default 12
  endif

  if SHOW_MMU_ADDITIONS_WITH_TYPE
    source "Kconfig.mmu_additions"
  endif

  source "Kconfig.capabilities"


  ####################
  ##### Defaults #####
  ####################

  config PARAM_VENDOR
    default "BoxTurtle"
  config PARAM_VERSION
    default "1.0"  
  config PARAM_NUM_GATES
    default 4
  choice BOARD_TYPE
    default BOARD_TYPE_AFC_LITE_1_0
  endchoice

  config PARAM_GEAR_GEAR_RATIO
    default "50:10"
  config PARAM_GEAR_RUN_CURRENT
    default 0.7
  config PARAM_GEAR_HOLD_CURRENT
    default 0.1

  config PARAM_GATE_HOMING_MAX
    default 300
  config PARAM_GATE_PRELOAD_HOMING_MAX
    default 200
  config PARAM_GATE_PARKING_DISTANCE
    default -100
  config PARAM_GATE_FINAL_EJECT_DISTANCE
    default 100

  comment "_"

endif 
