config MMU_TYPE_3D_CHAMELEON_1_0
  help
    3D Chameleon is a 4 gate MMU using innovative "opposing gate"
    filament selection mechanism.
  bool "3D Chameleon"
  select MMU_HAS_SELECTOR
  select PARAM_REQUIRE_BOWDEN_MOVE

if MMU_TYPE_3D_CHAMELEON_1_0
  if SHOW_MMU_ADDITIONS_WITH_TYPE
    rsource "../mmu_additions/Kconfig"
  endif
endif

if MMU_TYPE_3D_CHAMELEON_1_0
  config PARAM_MMU_VENDOR
    default "3DChameleon"
  config PARAM_MMU_VERSION
    default "1.0" 
  config PARAM_NUM_GATES
    default 4
  choice CHOICE_SELECTOR_TYPE
    default ROTARY_SELECTOR
  endchoice

  config PARAM_GEAR_GEAR_RATIO
    default "1:1"
  config PARAM_GEAR_RUN_CURRENT
    default "0.7"
  config PARAM_GEAR_HOLD_CURRENT
    default "0.1"
  config PARAM_SELECTOR_RUN_CURRENT
    default "0.63"
  config PARAM_SELECTOR_HOLD_CURRENT
    default "0.2"
  config PARAM_GEAR_HOMING_SPEED
    default "80"

  config PARAM_GATE_PARKING_DISTANCE
    default "250"
  config PARAM_GATE_HOMING_MAX
    default "500"

  choice CHOICE_GATE_HOMING_ENDSTOP
    default GATE_HOMING_ENDSTOP_GATE
  endchoice
  choice CHOICE_EXTRUDER_HOMING_ENDSTOP
    default EXTRUDER_HOMING_ENDSTOP_NONE
  endchoice
endif 
