config MMU_TYPE_MMX6_1_0
  bool "MMX6"
  help
    MMX is a 6 gate type-A MMU with rotary cam based selection
    mechanism controlled by stepper
  select ROTARY_SELECTOR
  select MMU_HAS_LEDS
  imply  BOOL_REQUIRE_BOWDEN_MOVE
  select BOOL_FILAMENT_ALWAYS_GRIPPED
  select BOOL_VARIABLE_ROTATION_DISTANCES
  select DISABLE_NUM_GATES_OPTION

####################
##### Defaults #####
####################

if MMU_TYPE_MMX6_1_0

  if SHOW_MMU_ADDITIONS_WITH_TYPE
    source "Kconfig.mmu_additions"
  endif

  source "Kconfig.capabilities"

  config PARAM_VENDOR
    default "MMX6"
  config PARAM_VERSION
    default "1.0"
  config PARAM_NUM_GATES
    default 6

  config PARAM_GEAR_GEAR_RATIO
    default "80:20"
  config PARAM_GEAR_RUN_CURRENT
    default 0.7
  config PARAM_GEAR_HOLD_CURRENT
    default 0.1

  config PARAM_GATE_PARKING_DISTANCE
    default -25
  config PARAM_GATE_HOMING_MAX
    default 1000

endif 
