config MMU_TYPE_HTLF_1_0
  bool "HTLF"
  help
    HappyTurtleLettuceFeeder (HTLF) is a 4 gate type-A MMU with
    rotary cam based selection mechanism controlled by stepper
  select ROTARY_SELECTOR
  select MMU_HAS_LEDS
  imply  PARAM_REQUIRE_BOWDEN_MOVE
  select PARAM_FILAMENT_ALWAYS_GRIPPED
  select PARAM_VARIABLE_ROTATION_DISTANCES
  select DISABLE_NUM_GATES_OPTION


if MMU_TYPE_HTLF_1_0

  if SHOW_MMU_ADDITIONS_WITH_TYPE
    source "Kconfig.mmu_additions"
  endif

  source "Kconfig.capabilities"

  config PARAM_VENDOR
    default "HTLF"
  config PARAM_VERSION
    default "1.0"

  config PARAM_NUM_GATES
    default 4

  # ----------------------------------------
  # Defaults
  # ----------------------------------------

  # Gear stepper ---------------------------
  config PARAM_GEAR_GEAR_RATIO
    default "1:1"
  config PARAM_GEAR_ROTATION_DISTANCE
    default 4.65
  config PARAM_GEAR_RUN_CURRENT
    default 0.8
  config PARAM_GEAR_HOLD_CURRENT
    default 0.1
  config PARAM_GEAR_MICROSTEPS
    default 16

  # Selector stepper -----------------------
  config PARAM_SELECTOR_GEAR_RATIO
    default "1:1"
  config PARAM_SELECTOR_ROTATION_DISTANCE
    default 32
  config PARAM_SELECTOR_RUN_CURRENT
    default 0.6
  config PARAM_SELECTOR_HOLD_CURRENT
    default 0.3

  config PARAM_SELECTOR_RELEASE_GATES
    default "1, 2, 3, 0"

  # Speeds ---------------------------------
  config PARAM_GEAR_LOAD_SPEED
    default 135
  config PARAM_GEAR_SHORT_MOVE_SPEED
    default 80
  config PARAM_SELECTOR_MOVE_SPEED
    default 50
  config PARAM_SELECTOR_ACCEL
    default 50
  config PARAM_EXTRUDER_LOAD_SPEED
    default 16

  # Gate endstops and homing ---------------
  config PARAM_GATE_PARKING_DISTANCE
    default -25
  config PARAM_GATE_HOMING_MAX
    default 1000

  comment "_"

endif 
