config ADDON_EJECT_BUTTONS
  help
    Enable if you have dedicated eject buttons on each gate. Note that
    The pin connections will still need to be setup in the macro.
  bool "Enable eject buttons support?"

