config ADDON_EREC_CUTTER
  help
    Enable for all servo based filament cutters on the MMU itself.
    EREC was the first example of this but this macro can work
    with other similar designs.
  bool "Enable EREC filament cutter support?"

if ADDON_EREC_CUTTER
  menu "EREC filament cutter pins"
    config PIN_EREC_CUTTER_SERVO
      string "EREC filament cutter servo pin"
      default ""
  endmenu
endif
