choice CHOICE_MMU_CUSTOM_TYPE
  config MMU_CUSTOM_TYPE_A
    bool "Type A (Selector)"
    imply REQUIRE_BOWDEN_MOVE
  
  if MMU_CUSTOM_TYPE_A 
    config MMU_HAS_ENCODER
      bool "With encoder?"
  endif 
endchoice

if MMU_CUSTOM_TYPE_A
  config PARAM_MMU_VENDOR
    default "Other"
  config MMU_BASE_VERSION
    default "1.0"

  config PARAM_GEAR_GEAR_RATIO
    default "1:1"
  config PARAM_GEAR_RUN_CURRENT
    default "0.7"
  config PARAM_GEAR_HOLD_CURRENT
    default "0.1"

  config PARAM_SELECTOR_RUN_CURRENT
    default "0.5"
  config PARAM_SELECTOR_HOLD_CURRENT
    default "0.1"

  choice CHOICE_SELECTOR_TYPE
    default SELECTOR_TYPE_LINEAR
  endchoice

  choice CHOICE_GATE_HOMING_ENDSTOP
    default GATE_HOMING_ENDSTOP_ENCODER if MMU_HAS_ENCODER
    default GATE_HOMING_ENDSTOP_GATE if !MMU_HAS_ENCODER
  endchoice

  choice CHOICE_EXTRUDER_HOMING_ENDSTOP
    default EXTRUDER_HOMING_ENDSTOP_COLLISION if MMU_HAS_ENCODER
    default EXTRUDER_HOMING_ENDSTOP_NONE if !MMU_HAS_ENCODER
  endchoice
endif 

