menu "Filament Sensors"

  # Force a logical order from mmu to extruder
  rsource "Kconfig.pre_gate"
  rsource "Kconfig.post_gear"
  rsource "Kconfig.gate"
  rsource "Kconfig.sync_feedback"
  rsource "Kconfig.extruder"
  rsource "Kconfig.toolhead"
  rsource "Kconfig.gear_touch"

endmenu
