  config MMU_HAS_SENSOR_GATE
    help
      Select if you have a sensor that is shared by all gates
      at the start of the bowden near the MMU. This is often called
      a hub sensor for type-B designs.
    bool "Gate sensor (aka hub sensor)"
