  config MMU_HAS_SENSOR_POST_GEAR
    help
      Select if you have seperate per-gate filament sensors after the MMU
      drive gear but before any combiner/splitter. Typically this is only
      fitted to type-B designs.
    bool "Post-Gear sensors?"
