########################################################################################################################
# Happy Hare MMU Software
# Supporting macros
#
# THIS FILE IS READ ONLY
#
# Copyright (C) 2022-2026  moggieuk#6538 (discord)
#                          moggieuk@hotmail.com
# This file may be distributed under the terms of the GNU GPLv3 license.
#
# Goal: Example 'heater_vent_macro' that is called each time the vent opens and closes
#
# (\_/)
# ( *,*)
# (")_(") Happy Hare Ready
#
#
# Happy Hare runs venting itself: every 'heater_vent_interval' minutes while drying it opens the vent for
# 'heater_vent_duration' seconds, moving any vent servo ('vent_servo' / 'vent_servos') and, if
# 'heater_vent_run_fan' is set, running the managed fan(s). The heater_vent_* settings are in
# mmu_parameters.cfg.
#
# If 'heater_vent_macro' is set it is also called on every open and close, so extra venting hardware can be
# operated. Parameters:
#   UNIT=<unit name>
#   OPEN=1 when the vent opens, OPEN=0 when it closes
#   GATES=<gate,gate,...> the heated gates (only with per-gate heaters)
#
# This example just logs the call. Copy it to a file of your own, rename it, add the logic for your MMU and
# set 'heater_vent_macro' to the new name. It can be called during a print so don't add delays or M400
# (read the wiki: Heater & Environment Control pages)
#
#   heater_vent_macro: _MMU_VENT
#
[gcode_macro _MMU_VENT]
description: Example enclosure vent macro (logs each open and close)
gcode:
    {% set unit = params.UNIT | default('') %}
    {% set action = 'open' if params.OPEN | default(0) | int else 'close' %}
    {% set gates = (params.GATES | default('')).split(',') | map('trim') | reject('equalto', '') | list %}
    MMU_LOG MSG="_MMU_VENT called for {unit or 'mmu'} to {action} the vent{(' for gates ' ~ gates | join(', ')) if gates else ''}"
    # Add logic here to operate extra venting hardware for this unit (and gates)
