########################################################################################################################
# Happy Hare MMU Software
# Supporting macros
#
# THIS FILE IS READ ONLY
#
# Copyright (C) 2022-2026  moggieuk#6538 (discord)
#                          moggieuk@hotmail.com
# This file may be distributed under the terms of the GNU GPLv3 license.
#
# Goal: Miscellaneous supporting macros
#
# (\_/)
# ( *,*)
# (")_(") Happy Hare Ready
#


###########################################################################
# Helper macro that will walk the user through a cold-pull
#
# Assumes the bowden tube is removed from the toolhead and the extruder
# is loaded with about a 300mm piece of filament. The user should have access
# to the filament to assist pull when asked
#
# Params:
#  MATERIAL=nylon|pla|abs|petg	Starting temp defaults
#  HOT_TEMP			Initial high temp
#  COLD_TEMP			Temp to cool too to help release filament
#  MIN_EXTRUDE_TEMP		Temp to which the extruder will keep nozzle pressurized
#  PULL_TEMP			Temp to perform the cold pull
#  PULL_SPEED			Speed in mm/s of extruder movement to help manual pull
#  CLEAN_LENGTH			Amount of filament to extrude to prime extruder/nozzle
#  EXTRUDE_SPEED		Speed in mm/s to perform extrude operations
#
[gcode_macro MMU_COLD_PULL]
description: Guide you through the process of cleaning your extruder with a cold pull
gcode:
    {% set material = params.MATERIAL|default("pla")|string|upper %}
    {% set materials = {
        'NYLON': {'hot_temp': 260, 'cold_temp': 50, 'pull_temp': 120, 'min_extrude_temp': 190},
        'PLA':   {'hot_temp': 250, 'cold_temp': 45, 'pull_temp': 100, 'min_extrude_temp': 160},
        'ABS':   {'hot_temp': 255, 'cold_temp': 50, 'pull_temp': 120, 'min_extrude_temp': 190},
        'PETG':  {'hot_temp': 250, 'cold_temp': 45, 'pull_temp': 100, 'min_extrude_temp': 180}
    } %}
    {% if material not in materials %}
        {action_raise_error("Unknown material. Valid types are: Nylon, ABS, PLA, PETG")}
    {% endif %}

    # Allow individual temperature overrides. Coded like this so Mainsail can parse options
    {% set hot_temp = params.HOT_TEMP|default('')|int %}
    {% set cold_temp = params.COLD_TEMP|default('')|int %}
    {% set pull_temp = params.PULL_TEMP|default('')|int %}
    {% set min_extrude_temp = params.MIN_EXTRUDE_TEMP|default('')|int %}
    {% set hot_temp = (hot_temp if hot_temp > 0 else materials.get(material).hot_temp)|int %}
    {% set cold_temp = (cold_temp if cold_temp > 0 else materials.get(material).cold_temp)|int %}
    {% set pull_temp = (pull_temp if pull_temp > 0 else materials.get(material).pull_temp)|int %}
    {% set min_extrude_temp = (min_extrude_temp if min_extrude_temp > 0 else materials.get(material).min_extrude_temp)|int %}

    {% set pull_speed = params.PULL_SPEED|default(10)|int %}
    {% set clean_length = params.CLEAN_LENGTH|default(25)|int %}
    {% set extrude_speed = params.EXTRUDE_SPEED|default(1.5)|float %}

    {% set ns = namespace(stuff_points=[], cool_points=[]) %}

    {% for temp in range(hot_temp + 1, cold_temp - 1, -1) %}
        {% if temp % 10 == 0 %}
            {% if temp > min_extrude_temp %}
                {% set ns.stuff_points = ns.stuff_points + [temp] %}
            {% elif temp < min_extrude_temp %}
                {% set ns.cool_points = ns.cool_points + [temp] %}
            {% endif %}
        {% endif %}
    {% endfor %}

    MMU_LOG MSG='{"Cold Pull based on %s profile (use MATERIAL= to adjust):" % material}'
    MMU_LOG MSG='{"pull_temp=%d\u00B0C, hot_temp=%d\u00B0C, min_extruder=%d\u00B0C, cold_temp=%d\u00B0C" % (pull_temp, hot_temp, min_extrude_temp, cold_temp)}'

    MMU_LOG MSG='{"Heating extruder to %d\u00B0C..." % hot_temp}'
    SET_HEATER_TEMPERATURE HEATER="extruder" TARGET={hot_temp}
    TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={hot_temp - 2} MAXIMUM={hot_temp + 2}

    # Ensure the nozzle id completely full
    MMU_LOG MSG="Cleaning nozzle tip with {clean_length}mm of filament"
    _MMU_STEP_MOVE MOTOR="extruder" MOVE={clean_length} SPEED={extrude_speed} ALLOW_BYPASS=1

    # Begin the cooling ramp
    MMU_LOG MSG="Allowing extruder to cool..."
    SET_HEATER_TEMPERATURE HEATER="extruder" TARGET={cold_temp}
    M106 S255			# 100% part fan to cool faster

    # While filament can still extrude keep the nozzle completely full
    {% for temp in ns.stuff_points %}
        TEMPERATURE_WAIT SENSOR="extruder" MAXIMUM={temp}
        MMU_LOG MSG='{"> Stuffing nozzle at %d\u00B0C" % temp}'
        _MMU_STEP_MOVE MOTOR="extruder" MOVE=1 SPEED={extrude_speed} ALLOW_BYPASS=1
    {% endfor %}

    # Give some feedback on cooling process
    MMU_LOG MSG='{"Waiting for extruder to completely cool to %d\u00B0C..." % cold_temp}'
    {% for temp in ns.cool_points %}
        TEMPERATURE_WAIT SENSOR="extruder" MAXIMUM={temp}
        MMU_LOG MSG='{"> Nozzle at %d\u00B0C" % temp}'
    {% endfor %}
    TEMPERATURE_WAIT SENSOR="extruder" MAXIMUM={cold_temp}

    # Re-warm
    M107			# Part fan off
    MMU_LOG MSG='{"Re-warming extruder to %d\u00B0C" % pull_temp}'
    SET_HEATER_TEMPERATURE HEATER="extruder" TARGET={pull_temp}

    # The manual cold-pull
    TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={pull_temp - 10}
    MMU_LOG MSG="Get ready to pull..."
    TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={pull_temp}
    MMU_LOG MSG=">>>>> PULL NOW <<<<<"

    # Retract 150 mm at moderate speed (user should assist pull too, especially in bypass))
    _MMU_STEP_MOVE MOTOR="extruder" MOVE=-150 SPEED={pull_speed} ALLOW_BYPASS=1

    MMU_LOG MSG="Cold pull is successful if you can see the shape of the nozzle at the filament end"
    MMU_LOG MSG="If not, try again, perhaps with tweaked temperatures"

    # Heater completely off
    SET_HEATER_TEMPERATURE HEATER="extruder"


###########################################################################
# Helper macros to display dialog in supporting UIs when MMU pauses
#
[gcode_macro _MMU_ERROR_DIALOG]
description: Helper to display pause dialog
variable_custom_msg: '' # List of additional custom message lines to append in dialog
variable_show_abort: False
gcode:
    {% set message = params.MSG|string %}
    {% set reason = params.REASON|string %}
    RESPOND TYPE=command MSG="action:prompt_begin Happy Hare Error Notice"
    RESPOND TYPE=command MSG='{"action:prompt_text %s" % message}'
    RESPOND TYPE=command MSG='{"action:prompt_text Reason: %s" % reason}'
    {% if not custom_msg == "" %}
        {% for line in custom_msg %}
            RESPOND TYPE=command MSG='{"action:prompt_text %s" % line}'
        {% endfor %}
    {% else %}
        RESPOND TYPE=command MSG="action:prompt_text After fixing, call RESUME to continue printing (MMU_UNLOCK to restore temperature)"
    {% endif %}
    RESPOND TYPE=command MSG="action:prompt_button_group_start"
    {% if show_abort %}
        RESPOND TYPE=command MSG="action:prompt_button ABORT|CANCEL_PRINT|error"
    {% endif %}
    RESPOND TYPE=command MSG="action:prompt_button UNLOCK|MMU_UNLOCK|secondary"
    RESPOND TYPE=command MSG="action:prompt_button RESUME|RESUME|warning"
    RESPOND TYPE=command MSG="action:prompt_button_group_end"
    RESPOND TYPE=command MSG="action:prompt_show"
    {% set custom_msg = "" %}


###########################################################################
# Utility macro to dump Happy Hare printer vars
#
[gcode_macro MMU_DUMP_VARS]
description: Dump Happy Hare printer variables for quick reference. Add VERBOSE=1 to include stepper and led objects
gcode:
    {% set base_searchfor = ['mmu', 'mmu_machine', 'mmu_encoder *', 'mmu_extruder *'] %}
    {% set verbose_searchfor = ['mmu_stepper *', 'mmu_leds *'] %}

    {% if params.VERBOSE|default(0)|int == 1 %}
        {% set searchfor = base_searchfor + verbose_searchfor %}
    {% else %}
        {% set searchfor = base_searchfor %}
    {% endif %}

    {% set parameters = [] %}

    {% for name1 in printer | sort %}
        {% set ns = namespace(match=False) %}

        {% for pattern in searchfor %}
            {% set p = pattern | replace(' ', '') %}

            {% if '*' in p %}
                {% set prefix = p.split('*')[0] %}
                {% if name1.startswith(prefix) %}
                    {% set ns.match = True %}
                {% endif %}
            {% else %}
                {% if name1 == p %}
                    {% set ns.match = True %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if ns.match %}
            {% for name2 in printer[name1] | sort %}
                {% set _ = parameters.append("printer['%s'].%s = %s" % (name1, name2, printer[name1][name2])) %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    { action_respond_info(parameters | join("\n")) }


###########################################################################
# Helper for Klippain to reset start/end step "run" trackers
#
[gcode_macro _MMU_RUN_MARKERS]
variable_mmu_start_setup_run: False
variable_mmu_start_check_run: False
variable_mmu_start_load_initial_tool_run: False
variable_mmu_end_run: False
gcode:
    SET_GCODE_VARIABLE MACRO=_MMU_RUN_MARKERS VARIABLE=mmu_start_setup_run VALUE=False
    SET_GCODE_VARIABLE MACRO=_MMU_RUN_MARKERS VARIABLE=mmu_start_check_run VALUE=False
    SET_GCODE_VARIABLE MACRO=_MMU_RUN_MARKERS VARIABLE=mmu_start_load_initial_tool_run VALUE=False
    SET_GCODE_VARIABLE MACRO=_MMU_RUN_MARKERS VARIABLE=mmu_end_run VALUE=False


###########################################################################
# Simplified subset of commands just for macro visibility in
# Mainsail/Fluidd UI (until custom HH panel is complete!)
# The __ is a trick because it is not displayed by the UI but allows for
# similar names to the real commands defined by the klipper module
#
[gcode_macro MMU__UNLOAD]
gcode: MMU_UNLOAD

[gcode_macro MMU__EJECT]
gcode: MMU_EJECT

[gcode_macro MMU__HOME]
gcode:
    {% set tool = params.TOOL|default(0)|int %}
    {% set force_unload = params.FORCE_UNLOAD|default(0)|int %}
    MMU_HOME TOOL={tool} FORCE_UNLOAD={force_unload}

[gcode_macro MMU__STATUS]
gcode: MMU_STATUS

[gcode_macro MMU__MOTORS_OFF]
gcode: MMU_MOTORS_OFF

[gcode_macro MMU__SERVO]
gcode:
    {% set pos = params.POS|default("up")|string %}
    MMU_SERVO POS={pos}

[gcode_macro MMU__SELECT_TOOL]
gcode:
    {% set tool = params.TOOL|default(0)|int %}
    MMU_SELECT TOOL={tool}

[gcode_macro MMU__SELECT_BYPASS]
gcode: MMU_SELECT_BYPASS

[gcode_macro MMU__LOAD_BYPASS]
gcode: MMU_LOAD

[gcode_macro MMU__RECOVER]
gcode: MMU_RECOVER

[gcode_macro MMU__PRELOAD]
gcode:
    MMU_PRELOAD {rawparams}

[gcode_macro MMU__CHECK_GATE]
gcode:
    {% set gate = params.GATE|default(-1)|int %}
    {% set tool = params.GATE|default(-1)|int %}
    {% set gates = params.GATE|default('!')|string %}
    {% set tools = params.GATE|default('!')|string %}
    MMU_CHECK_GATE GATE={gate} TOOL={tool} GATES={gates} TOOLS={tools}


###########################################################################
# Macro to query filament pressure sensor (proportional sync sensor) state
#
[gcode_macro MMU_QUERY_PSENSOR]
description: Show raw and scaled readings for proportional (sync_feedback_analog_*) sensor
variable_sensor: "filament_proportional"
gcode:
    {% set name = params.SENSOR|default(sensor) %}
    {% set obj  = printer[name] %}
    M118 PSENSOR Enabled: {obj.enabled}  Value: {obj.value|float|round(3)}  Raw Value: {obj.value_raw|float|round(3)}


###########################################################################
# Aliases (for backward compatibility) of previously well used commands...
#
[gcode_macro MMU_CHANGE_TOOL_STANDALONE]
description: Convenience macro for inclusion in print_start for initial tool load
gcode:
    MMU_CHANGE_TOOL {rawparams} STANDALONE=1

[gcode_macro MMU_CHECK_GATES]
description: Alias for updated macro name of MMU_CHECK_GATE
gcode:
    MMU_CHECK_GATE ALL=1

[gcode_macro MMU_CALIBRATE_GATES]
description: Alias for updated macro name of MMU_CALIBRATE_GATE
gcode:
    MMU_CALIBRATE_GATE ALL=1

[gcode_macro MMU_REMAP_TTG]
description: Alias for updated macro name of MMU_TTG_MAP
gcode:
    MMU_TTG_MAP {rawparams}

[gcode_macro MMU_FORM_TIP]
description: Alias for updated macro name of MMU_TEST_FORM_TIP
gcode:
    MMU_TEST_FORM_TIP {rawparams}

[gcode_macro _MMU_PRINT_START]
description: Alias for updated macro name of MMU_PRINT_START
gcode:
    MMU_PRINT_START {rawparams}

[gcode_macro _MMU_PRINT_END]
description: Alias for updated macro name of MMU_PRINT_END
gcode:
    MMU_PRINT_END {rawparams}

[gcode_macro _MMU_UPDATE_HEIGHT]
description: Alias for updated macro name of MMU_UPDATE_HEIGHT
gcode:
    MMU_UPDATE_HEIGHT {rawparams}
