########################################################################################################################
# Happy Hare MMU Software
# Supporting macros
#
# THIS FILE IS READ ONLY
#
# Copyright (C) 2022-2026  moggieuk#6538 (discord)
#                          moggieuk@hotmail.com
# This file may be distributed under the terms of the GNU GPLv3 license.
#
# Goal: Servo based Tip Cutting at MMU end of bowden (e.g. EREC cutter for ERCF)
#
# (\_/)
# ( *,*)
# (")_(") Happy Hare Ready
#
# Designed to be included to the _MMU_POST_UNLOAD step:
#   variable_user_post_unload_extension : 'SERVO_CUTTER_ACTION'
#
[gcode_macro SERVO_CUTTER_ACTION]
description: Cut off the filament tip at the MMU after the unload sequence is complete
gcode:
    {% set vars = printer["gcode_macro _MMU_SERVO_CUTTER_VARS"] %}
    
    MMU_LOG MSG="Cutting filament tip..."

    _CUTTER_OPEN
    _MMU_STEP_MOVE MOVE={vars.feed_length + vars.cut_length}
    {% for i in range(vars.cut_attempts - 1) %}
        _CUTTER_CLOSE
        _CUTTER_OPEN
    {% endfor %}
    _MMU_STEP_MOVE MOVE=-1
    _CUTTER_CLOSE
    _MMU_EVENT EVENT="filament_cut"	# Count as one cut for consumption counter
    
    _MMU_STEP_SET_FILAMENT STATE=2	# FILAMENT_POS_START_BOWDEN
    _MMU_STEP_UNLOAD_GATE		# Repeat gate parking move
    M400				# Wait for moves to finish


[gcode_macro _CUTTER_ANGLE]
description: Helper macro to set cutter servo angle
gcode:
    {% set angle = params.ANGLE|default(0)|int %}
    SET_SERVO SERVO=cut_servo ANGLE={angle}
    

[gcode_macro _CUTTER_CLOSE]
description: Helper macro to set cutting servo the closed position
gcode:
    {% set vars = printer["gcode_macro _MMU_SERVO_CUTTER_VARS"] %}

    SET_SERVO SERVO=cut_servo ANGLE={vars.servo_closed_angle} DURATION={vars.servo_duration}
    G4 P{vars.servo_idle_time * 1000}
    MMU_LOG MSG="Servo cutter closed"
    M400


[gcode_macro _CUTTER_OPEN]
description: Helper macro to set cutting servo the open position
gcode:
    {% set vars = printer["gcode_macro _MMU_SERVO_CUTTER_VARS"] %}

    SET_SERVO SERVO=cut_servo ANGLE={vars.servo_open_angle} DURATION={vars.servo_duration}
    G4 P{vars.servo_idle_time * 1000}
    MMU_LOG MSG="Servo cutter open"
    M400
