
##########################################################################################
# The servo hardware configuration. Change the values to your needs.
# 
[mmu_servo cut_servo]
pin: mmu:PA7			# Extra Pin on the ERCF easy Board
maximum_servo_angle: 180	# Set this to 60 for a 60° Servo
minimum_pulse_width: 0.0005	# Adapt these for your servo
maximum_pulse_width: 0.0025	# Adapt these for your servo

