choice CHOICE_BOARD_TYPE
  config BOARD_TYPE_EASY_BRD_RP2040
    bool "EASY-BRD with RP2040"
endchoice

choice CHOICE_SERIAL_DEVICE
  default $(serial_config,1,rp2040)
endchoice

if BOARD_TYPE_EASY_BRD_RP2040
  config PIN_GEAR_UART
    default "gpio6" 
  config PIN_GEAR_STEP
    default "gpio27" 
  config PIN_GEAR_DIR
    default "gpio28" 
  config PIN_GEAR_ENABLE
    default "gpio26" 

  config PIN_SELECTOR_UART
    default "gpio6" 
  config PIN_SELECTOR_STEP
    default "gpio7" 
  config PIN_SELECTOR_DIR
    default "gpio0" 
  config PIN_SELECTOR_ENABLE
    default "gpio29" 
  config PIN_SELECTOR_DIAG
    default "gpio2" if MMU_SELECTOR_TOUCH 
  config PIN_SELECTOR_ENDSTOP
    default "gpio1" if !MMU_SELECTOR_TOUCH
  config PIN_SELECTOR_SERVO
    default "gpio4" 

  config PIN_ENCODER
    default "gpio3" if MMU_HAS_ENCODER
  config PIN_GATE_SENSOR
    default "gpio3"  
endif
