if PARAM_SELECTOR_TYPE = "LinearSelector"
  rsource	"Kconfig.*"

  choice CHOICE_SERVO_TYPE 
    prompt "Selector servo type"
    help
      Select the type of servo you are using for the selector. 
  
    config SERVO_TYPE_OTHER
      bool "Not listed / Other"
  endchoice
endif
