menu "State change hooks (_MMU_STATE)"
  help
    You can extend functionality to all Happy Hare state change or event
    macros by adding a command (or call to your gcode macro).
    E.g for additional LED logic or consumption counters

  config VAR_STATE_USER_ACTION_CHANGED_EXTENSION
    string "Action changed extension macro     "
    default ""
    help
      Optional user macro that is executed after default logic when
      MMU action changes. Used to extend Happy Hare functionality.
      (passed same params as original macro)

  config VAR_STATE_USER_PRINT_STATE_CHANGED_EXTENSION
    string "Print state changed extension macro"
    default ""
    help
      Optional user macro that is executed after default logic when
      MMU print state changes. Used to extend Happy Hare functionality.
      (passed same params as original macro)

  config VAR_STATE_USER_MMU_EVENT_EXTENSION
    string "MMU event extension macro          "
    default ""
    help
      Optional user macro that is executed after default logic when
      MMU event occurs. Used to extend Happy Hare functionality.
      (passed same params as original macro)

  comment "_"
  comment "_Consumption counters"

  config VAR_STATE_SERVO_DOWN_LIMIT
    int "Servo down limit                   "
    default 5000
    help
      Maintenance warning limit for servo down counter.
      Set to -1 for no limit / disable warning.

      Applicable only if MMU has servo operated filament grip on selector

  config VAR_STATE_CUTTER_BLADE_LIMIT
    int "Cutter blade limit                 "
    default 3000
    help
      Maintenance warning limit for cutter blade counter.
      Set to -1 for no limit / disable warning.

      Applicable only if MMU has filament cutter

endmenu
