choice CHOICE_MMU_TYPE 
  config HW_MMU_TYPE_ERCF_2
    bool "ERCF v2.0"
    select MMU_HAS_ENCODER
    select MMU_HAS_SELECTOR
    select HW_VARIABLE_ROTATION_DISTANCES
    select HW_REQUIRE_BOWDEN_MOVE
endchoice 

if HW_MMU_TYPE_ERCF_2
  config HW_MMU_VENDOR
    default "ERCF"
  config HW_MMU_BASE_VERSION
    default "2.0"
  
  config HW_SERVO_BUZZ_GEAR_ON_DOWN
    default 3
 
  config HW_GEAR_GEAR_RATIO
    default "80:20"
  config HW_GEAR_RUN_CURRENT
    default "0.5"
  config HW_GEAR_HOLD_CURRENT
    default "0.1"
  config HW_SELECTOR_RUN_CURRENT
    default "0.4"
  config HW_SELECTOR_HOLD_CURRENT
    default "0.2"

  config HW_SELECTOR_TYPE
    default "LinearSelector"

  choice CHOICE_GATE_HOMING_ENDSTOP
    default PARAM_GATE_HOMING_ENDSTOP_ENCODER
  endchoice
  
  choice CHOICE_EXTRUDER_HOMING_ENDSTOP
    default PARAM_EXTRUDER_HOMING_ENDSTOP_COLLISION
  endchoice
endif 
