rsource "Kconfig.*"

config HW_MMU_VENDOR
  string
  default "Other"

config HW_MMU_BASE_VERSION
  string
  default "0.1" 

choice CHOICE_MMU_TYPE 
  prompt "Type"

  config HW_MMU_TYPE_CUSTOM
    bool "Custom"
    imply HW_REQUIRE_BOWDEN_MOVE

  if HW_MMU_TYPE_CUSTOM
    choice 
      prompt "Custom starter config"
      config MMU_CUSTOM_TYPE_A_NO_ENCODER
        bool "Type A (Selector)"
        imply MMU_HAS_SELECTOR
      config MMU_CUSTOM_TYPE_A_ENCODER
        bool "Type A (Selector) with Encoder"
        imply MMU_HAS_SELECTOR
        imply MMU_HAS_ENCODER
      config MMU_CUSTOM_TYPE_B_ENCODER
        bool "Type B (Multiple filament driver steppers) with Encoder"
        imply MMU_HAS_ENCODER
      config MMU_CUSTOM_TYPE_B_SHARED_GATE
        bool "Type B (Multiple filament driver steppers) with Shared gate sensor"
      config MMU_CUSTOM_TYPE_B_SHARED_GATE_ENCODER
        bool "Type B (Multiple filament driver steppers) with Shared gate sensor, Encoder"
        imply MMU_HAS_ENCODER
      config MMU_CUSTOM_TYPE_B_INDIVIDUAL_GATE
        bool "Type B (Multiple filament driver steppers) with Individual post-gate sensor"
      config MMU_CUSTOM_TYPE_B_INDIVIDUAL_GATE_ENCODER
        bool "Type B (Multiple filament driver steppers) with Individual post-gate sensor, Encoder"
        imply MMU_HAS_ENCODER
    endchoice
  endif
endchoice
