choice CHOICE_GATE_HOMING_ENDSTOP 
  prompt "Gate homing endstop" 
  default PARAM_GATE_HOMING_ENDSTOP_NONE

  config PARAM_GATE_HOMING_ENDSTOP_ENCODER
    bool "Encoder homing endstop"
  config PARAM_GATE_HOMING_ENDSTOP_GATE
    bool "Gate homing endstop"
  config PARAM_GATE_HOMING_ENDSTOP_GEAR
    bool "Gear homing endstop"
  config PARAM_GATE_HOMING_ENDSTOP_NONE
    bool "No homing endstop"
endchoice

config PARAM_GATE_HOMING_ENDSTOP
  string 
  default "encoder" if PARAM_GATE_HOMING_ENDSTOP_ENCODER
  default "mmu_gate" if PARAM_GATE_HOMING_ENDSTOP_GATE
  default "mmu_gear" if PARAM_GATE_HOMING_ENDSTOP_GEAR
  default "none" if PARAM_GATE_HOMING_ENDSTOP_NONE

choice CHOICE_EXTRUDER_HOMING_ENDSTOP
  prompt "Extruder homing endstop" 
  default PARAM_EXTRUDER_HOMING_ENDSTOP_NONE

  config PARAM_EXTRUDER_HOMING_ENDSTOP_COLLISION
    bool "Collision homing endstop"
  config PARAM_EXTRUDER_HOMING_ENDSTOP_EXTRUDER
    bool "Extruder homing endstop"
  config PARAM_EXTRUDER_HOMING_ENDSTOP_ENCODER
    bool "Encoder homing endstop"
  config PARAM_EXTRUDER_HOMING_ENDSTOP_NONE
    bool "No homing endstop"
endchoice

config PARAM_EXTRUDER_HOMING_ENDSTOP
  string 
  default "collision" if PARAM_EXTRUDER_HOMING_ENDSTOP_COLLISION
  default "extruder" if PARAM_EXTRUDER_HOMING_ENDSTOP_EXTRUDER
  default "encoder" if PARAM_EXTRUDER_HOMING_ENDSTOP_ENCODER
  default "none" if PARAM_EXTRUDER_HOMING_ENDSTOP_NONE
