# Savox SH-0255MG servo
# Used by ERCF v1.0, v2.0, v3.0

if PARAM_VENDOR = "ERCF"
  config SERVO_TYPE_SAVOX_SH0255MG
    bool "Savox SH-0255MG"

  if SERVO_TYPE_SAVOX_SH0255MG 
    config PARAM_SERVO_MIN_PULSE_WIDTH
      default "0.00085"

    config PARAM_SERVO_MAX_PULSE_WIDTH
      default "0.00240" 

    config PARAM_SERVO_MAX_ANGLE
      default 180

    config PARAM_SERVO_UP_ANGLE
      default 120 if MMU_TYPE_ERCF_2_0 && MOD_THUMPER_BLOCKS
      default 140 

    config PARAM_SERVO_MOVE_ANGLE
      default 135 if MMU_TYPE_ERCF_2_0 && MOD_THUMPER_BLOCKS
      default 109 if MMU_TYPE_ERCF_2_0 || MMU_TYPE_ERCF_3_0
      default PARAM_SERVO_UP_ANGLE

    config PARAM_SERVO_DOWN_ANGLE
      default 50 if MMU_TYPE_ERCF_2_0 && MOD_THUMPER_BLOCKS
      default 30 
  endif
endif
