if MMU_HAS_SERVO
  rsource  "Kconfig.*"

  choice CHOICE_SERVO_TYPE 
    prompt "Selector servo type"
    help
      Select the type of servo you are using for the selector. 
  
    config SERVO_TYPE_OTHER
      bool "Not listed / Other"
  endchoice

  if !MMU_HAS_SELECTOR
    # TODO: Probably should be moved to somewhere else. Need to figure out a better split for selector/servo
    config PARAM_SELECTOR_GATE_ANGLES
      string
      default "45, 90, 135, 180"
  endif
endif
