# JX PS-1171MG servo
# Used by Tradrack v1.0

if PARAM_MMU_VENDOR = "Tradrack"
  config SERVO_TYPE_JX_PS1171MG
    bool "JX PS-1171MG"

  if SERVO_TYPE_JX_PS1171MG
    config PARAM_SERVO_MIN_PULSE_WIDTH
      default "0.00070"

    config PARAM_SERVO_MAX_PULSE_WIDTH
      default "0.00220" 

    config PARAM_SERVO_MAX_ANGLE
      default 131

    config PARAM_SERVO_UP_ANGLE
      default 145 

    config PARAM_SERVO_DOWN_ANGLE
      default 1 
  endif
endif
