choice CHOICE_MMU_TYPE 
  config MMU_TYPE_ERCF_1_1
    bool "ERCF v1.1"
    select MMU_HAS_ENCODER
    select MMU_HAS_SERVO
    select MMU_HAS_SELECTOR
    select VARIABLE_ROTATION_DISTANCES
    select REQUIRE_BOWDEN_MOVE

  if MMU_TYPE_ERCF_1_1 
    config EXT_SPRINGY
      bool "Springy"
    config EXT_BINKY
      bool "Binky"
    config EXT_TRIPLE_DECK
      bool "Triple Deck"
  endif  
  
  config MMU_TYPE_ERCF_2_0
    bool "ERCF v2.0"
    select MMU_HAS_ENCODER
    select MMU_HAS_SERVO
    select MMU_HAS_SELECTOR
    select VARIABLE_ROTATION_DISTANCES
    select REQUIRE_BOWDEN_MOVE
  
  if MMU_TYPE_ERCF_2_0
    config EXT_THUMPER_BLOCKS
      bool "Thumper Blocks"
  endif
endchoice

if MMU_TYPE_ERCF_1_1
  config PARAM_MMU_VENDOR
    default "ERCF"
  config PARAM_MMU_VERSION
    default "1.1sbt" if EXT_SPRINGY && EXT_BINKY && EXT_TRIPLE_DECK
    default "1.1sb" if EXT_SPRINGY && EXT_BINKY
    default "1.1st" if EXT_SPRINGY && EXT_TRIPLE_DECK
    default "1.1bt" if EXT_BINKY && EXT_TRIPLE_DECK
    default "1.1s" if EXT_SPRINGY
    default "1.1b" if EXT_BINKY
    default "1.1t" if EXT_TRIPLE_DECK
    default "1.1"
  config PARAM_NUM_GATES
    default 9

   
  config PARAM_SERVO_BUZZ_GEAR_ON_DOWN
    default 3

  config PARAM_GEAR_GEAR_RATIO
    default "80:20"
  config PARAM_GEAR_RUN_CURRENT
    default "0.5"
  config PARAM_GEAR_HOLD_CURRENT
    default "0.1"
  config PARAM_SELECTOR_RUN_CURRENT
    default "0.4"
  config PARAM_SELECTOR_HOLD_CURRENT
    default "0.2"
  config PARAM_SERVO_DURATION
    default "0.4"
  config PARAM_ENCODER_RESOLUTION
    default "0.7059"
  config PARAM_GATE_PARKING_DISTANCE
    default "23"

  choice CHOICE_GATE_HOMING_ENDSTOP
    default GATE_HOMING_ENDSTOP_ENCODER
  endchoice
  
  choice CHOICE_EXTRUDER_HOMING_ENDSTOP
    default EXTRUDER_HOMING_ENDSTOP_COLLISION
  endchoice
endif 

if MMU_TYPE_ERCF_2_0
  config PARAM_MMU_VENDOR
    default "ERCF"
  config PARAM_MMU_VERSION
    default "2.0"
  config PARAM_NUM_GATES
    default 8
  
  config PARAM_SERVO_BUZZ_GEAR_ON_DOWN
    default 3
 
  config PARAM_GEAR_GEAR_RATIO
    default "80:20"
  config PARAM_GEAR_RUN_CURRENT
    default "0.5"
  config PARAM_GEAR_HOLD_CURRENT
    default "0.1"
  config PARAM_SELECTOR_RUN_CURRENT
    default "0.4"
  config PARAM_SELECTOR_HOLD_CURRENT
    default "0.2"
  config PARAM_SERVO_DURATION
    default "0.4"
  config PARAM_ENCODER_RESOLUTION
    default "1.0"
  config PARAM_GATE_PARKING_DISTANCE
    default "11" if EXT_THUMPER_BLOCKS
    default "13"

  choice CHOICE_GATE_HOMING_ENDSTOP
    default GATE_HOMING_ENDSTOP_ENCODER
  endchoice
  
  choice CHOICE_EXTRUDER_HOMING_ENDSTOP
    default EXTRUDER_HOMING_ENDSTOP_COLLISION
  endchoice
endif 
