rsource "Kconfig.*"

config PARAM_MMU_VENDOR
  string
  default "Other"

config PARAM_MMU_VERSION
  string
  default "1.0" 

choice CHOICE_MMU_TYPE 
  prompt "MMU Type"
  help 
    Select the type of MMU you are using. 
    This will configure the default settings for your setup.

  config MMU_TYPE_CUSTOM
    bool "Custom"
    imply REQUIRE_BOWDEN_MOVE

  if MMU_TYPE_CUSTOM
    rsource "starters/Kconfig.*"

    choice CHOICE_MMU_CUSTOM_TYPE
      prompt "Pick a starter config"
      help 
        Select a custom starter config to start from. 
        This will configure a good starting point for your custom MMU setup.
    endchoice
  endif
endchoice
