choice CHOICE_MMU_TYPE
  config MMU_TYPE_BOX_TURTLE_1_0
    bool "Box Turtle v1.0"
    select MMU_HAS_ESPOOLER
    select VARIABLE_ROTATION_DISTANCES
    select REQUIRE_BOWDEN_MOVE
    select FILAMENT_ALWAYS_GRIPPED
endchoice

if MMU_TYPE_BOX_TURTLE_1_0
  config PARAM_MMU_VENDOR
    default "BoxTurtle"
  config PARAM_MMU_VERSION
    default "1.0"  
  config PARAM_NUM_GATES
    default 4

  config PARAM_GEAR_GEAR_RATIO
    default "50:10"
  config PARAM_GEAR_RUN_CURRENT
    default "0.7"
  config PARAM_GEAR_HOLD_CURRENT
    default "0.1"
  config PARAM_GATE_HOMING_MAX
    default "300"
  config PARAM_GATE_PARKING_DISTANCE
    default "100"
  config PARAM_GATE_FINAL_EJECT_DISTANCE
    default "100"

  choice CHOICE_GATE_HOMING_ENDSTOP
    default GATE_HOMING_ENDSTOP_GATE
  endchoice
  
  choice CHOICE_EXTRUDER_HOMING_ENDSTOP
    default EXTRUDER_HOMING_ENDSTOP_NONE
  endchoice
endif 
