config MMU_CUSTOM_TYPE_A
  help 
    Select this custom starter config when you MMU has a filament
    selector mechanism (stepper and/or servo). After selection
    by sure to add options under "MMU Additions".
    You can fine tune the klipper configuration as necessary.
  bool "Custom type A - with selector"
  imply MMU_HAS_SELECTOR
  imply MMU_HAS_SERVO
  imply REQUIRE_BOWDEN_MOVE
  imply VARIABLE_ROTATION_DISTANCES
  
if MMU_CUSTOM_TYPE_A 
  rsource "../../Kconfig.num_gates"

  config MMU_HAS_SELECTOR
    help
      Select if the filament selection mechanism uses a stepper motor.
    bool "Has selector stepper motor?"

  config MMU_HAS_SERVO
    help
      Select if the filament selection or gripping mechanism uses a servo.
    bool "Has selector servo?"

  config VARIABLE_ROTATION_DISTANCES
    help
      Select if each gate has a different BMG gear and thus can have different
      rotation distances. Unselect if a single drive gear moved to the selected
      gate.
    bool "Different drive gear (rotation distance) per gate?"

  if SHOW_MMU_ADDITIONS_WITH_TYPE
    rsource "../../mmu_additions/Kconfig"
  endif
endif

if MMU_CUSTOM_TYPE_A
  config PARAM_MMU_VENDOR
    default "Other"
  config PARAM_MMU_VERSION
    default "1.0"
  config PARAM_NUM_GATES
    default 8

  config PARAM_GEAR_GEAR_RATIO
    default "1:1"
  config PARAM_GEAR_RUN_CURRENT
    default "0.7"
  config PARAM_GEAR_HOLD_CURRENT
    default "0.1"

  config PARAM_SELECTOR_RUN_CURRENT
    default "0.5"
  config PARAM_SELECTOR_HOLD_CURRENT
    default "0.1"

  choice CHOICE_GATE_HOMING_ENDSTOP
    default GATE_HOMING_ENDSTOP_GATE
  endchoice
  choice CHOICE_EXTRUDER_HOMING_ENDSTOP
    default EXTRUDER_HOMING_ENDSTOP_NONE
  endchoice
endif 
