config MMU_CUSTOM_TYPE_EVERYTHING
  bool "Test config with everything"
  help 
    Select this custom starter config for testing or to create
    a fully populated set of klipper config files.
  select TESTING_SELECTOR
  select MULTIGEAR
  select MMU_HAS_BUFFER_MCU
  select MMU_HAS_ENCODER
  select MMU_HAS_ENVIRONMENT_SENSOR
  select MMU_HAS_ESPOOLER
  select MMU_HAS_FILAMENT_BUFFER
  select MMU_HAS_HEATER
  select MMU_HAS_LEDS
  select MMU_HAS_SENSOR_EXTRUDER
  select MMU_HAS_SENSOR_SHARED_EXIT
  select MMU_HAS_SENSOR_GEAR_TOUCH
  select MMU_HAS_SENSOR_EXIT
  select MMU_HAS_SENSOR_ENTRY
  select MMU_HAS_SENSOR_BUFFER_COMPRESSION
# select MMU_HAS_SENSOR_BUFFER_PROPORTIONAL
  select MMU_HAS_SENSOR_BUFFER_TENSION
  select MMU_HAS_SENSOR_TOOLHEAD
  select MMU_HAS_SYNC_FEEDBACK_BUFFER
  select MMU_HAS_EJECT_BUTTONS
  select MMU_HAS_TOOLHEAD_CUTTER
  imply  MMU_HAS_GANTRY_BUMPER_SERVO
  select MMU_HAS_BLOBIFIER
  select MMU_HAS_SERVO_CUTTER

  imply  BOOL_HAS_BYPASS
  imply  BOOL_REQUIRE_BOWDEN_MOVE
  imply  BOOL_VARIABLE_ROTATION_DISTANCES
  imply  BOOL_VARIABLE_BOWDEN_LENGTHS
  imply  BOOL_FILAMENT_ALWAYS_GRIPPED

  imply  INSTALL_CLIENT_MACROS
  imply  INSTALL_12864_MENU

if MMU_CUSTOM_TYPE_EVERYTHING

  if SHOW_MMU_ADDITIONS_WITH_TYPE
    source "Kconfig.mmu_additions"
  endif

  source "Kconfig.capabilities"

  ####################
  ##### Defaults #####
  ####################

  config PARAM_VENDOR
    default "Other"
  config PARAM_VERSION
    default "1.0"
  config PARAM_NUM_GATES
    default 4
endif 
