config MMU_CUSTOM_TYPE_EVERYTHING
  bool "Test config with everything"
  help 
    Select this custom starter config for testing or to create
    a fully populated set of klipper config files.
  select MMU_HAS_SELECTOR_STEPPER
  select MMU_HAS_SELECTOR_SERVO
  select MMU_HAS_ENCODER
  select MMU_HAS_ESPOOLER
  select MMU_HAS_LEDS
  select MMU_HAS_SENSOR_PRE_GATE
  select MMU_HAS_SENSOR_POST_GEAR
  select MMU_HAS_SENSOR_GATE
  select MMU_HAS_SENSOR_SYNC_FEEDBACK_COMPRESSION
  select MMU_HAS_SENSOR_SYNC_FEEDBACK_TENSION
  select MMU_HAS_SENSOR_EXTRUDER
  select MMU_HAS_SENSOR_TOOLHEAD
  select MMU_HAS_SENSOR_GEAR_TOUCH
  select MMU_HAS_FILAMENT_BUFFER # Really this is mutually exclusive with eSpooler
  select PARAM_HAS_BYPASS
  imply VIRTUAL_SELECTOR
  imply PARAM_REQUIRE_BOWDEN_MOVE
  imply PARAM_VARIABLE_ROTATION_DISTANCES
  imply PARAM_VARIABLE_BOWDEN_LENGTHS
  imply PARAM_FILAMENT_ALWAYS_GRIPPED

if MMU_CUSTOM_TYPE_EVERYTHING
  config PARAM_VENDOR
    default "Other"
  config PARAM_VERSION
    default "1.0"
  config PARAM_NUM_GATES
    default 4
endif 
