config MMU_CUSTOM_TYPE_B
  bool "Custom type B - with multiple filament drivers"
  help 
    Select this custom starter config when you MMU has separate
    stepper motors for each gate/lane. After selection be sure to
    add options under "MMU Additions".
    You can fine tune the klipper configuration as necessary.
  select VIRTUAL_SELECTOR
  select PARAM_VARIABLE_ROTATION_DISTANCES
  select PARAM_FILAMENT_ALWAYS_GRIPPED
  imply PARAM_VARIABLE_BOWDEN_LENGTHS
  imply PARAM_REQUIRE_BOWDEN_MOVE

if MMU_CUSTOM_TYPE_B
  config PARAM_REQUIRE_BOWDEN_MOVE
    help
      If you have a single long bowden tube connecting you toolhead
      you should select this option. Unselect if you have a
      combiner/splitter and will pack filaments close to the toolhead.
    bool "Require fast bowden move?"

  if SHOW_MMU_ADDITIONS_WITH_TYPE
    source "mmu_additions/Kconfig"
  endif
endif

if MMU_CUSTOM_TYPE_B
  config PARAM_VENDOR
    default "Other"
  config PARAM_VERSION
    default "1.0"
  config PARAM_NUM_GATES
    default 4

  config PARAM_GEAR_GEAR_RATIO
    default "1:1"
  config PARAM_GEAR_RUN_CURRENT
    default "0.7"
  config PARAM_GEAR_HOLD_CURRENT
    default "0.1"
endif 
