config MMU_CUSTOM_TYPE_EVERYTHING
  bool "Test config with everything"
  help 
    Select this custom starter config for testing or to create
    a fully populated set of klipper config files.
  select TESTING_SELECTOR
  select MULTIGEAR
  select MMU_HAS_BUFFER_MCU
  imply  MMU_HAS_ENCODER
  imply  MMU_HAS_ENVIRONMENT_SENSOR
  imply  MMU_HAS_ESPOOLER
  imply  MMU_HAS_HEATER
  imply  MMU_HAS_LEDS
  imply  MMU_HAS_FANS
  imply  MMU_HAS_SENSOR_EXTRUDER
  imply  MMU_HAS_SENSOR_SHARED_EXIT
  imply  MMU_HAS_SENSOR_GEAR_TOUCH
  imply  MMU_HAS_SENSOR_EXIT
  imply  MMU_HAS_SENSOR_ENTRY
  imply  MMU_HAS_SYNC_FEEDBACK_BUFFER
  imply  MMU_HAS_SENSOR_BUFFER_COMPRESSION
  imply  MMU_HAS_SENSOR_BUFFER_PROPORTIONAL
  imply  MMU_HAS_SENSOR_BUFFER_TENSION
  imply  MMU_HAS_SENSOR_TOOLHEAD
  imply  MMU_HAS_EJECT_BUTTONS
  imply  MMU_HAS_TOOLHEAD_CUTTER
  imply  MMU_HAS_GANTRY_BUMPER_SERVO
  imply  MMU_HAS_BLOBIFIER
  imply  MMU_HAS_SERVO_CUTTER

  imply  PARAM_HAS_BYPASS
  imply  PARAM_REQUIRE_BOWDEN_MOVE
  imply  PARAM_VARIABLE_ROTATION_DISTANCES
  imply  PARAM_VARIABLE_BOWDEN_LENGTHS
  imply  PARAM_FILAMENT_ALWAYS_GRIPPED

  imply  INSTALL_CLIENT_MACROS
  imply  INSTALL_12864_MENU

if MMU_CUSTOM_TYPE_EVERYTHING

  if SHOW_MMU_ADDITIONS_WITH_TYPE
    source "Kconfig.mmu_additions"
  endif

  source "Kconfig.capabilities"

  ####################
  ##### Defaults #####
  ####################

  config PARAM_VENDOR
    default "Other"
  config PARAM_VERSION
    default "1.0"
  config PARAM_NUM_GATES
    default 4

  comment "_"

endif 
