[FORMAT]
max-line-length=400

[MESSAGES CONTROL]
disable=attribute-defined-outside-init, consider-using-f-string, too-many-lines, fixme, multiple-imports, invalid-name, multiple-statements, missing-function-docstring, unused-import, too-many-public-methods, too-many-return-statements, too-many-branches, too-many-statements, too-many-nested-blocks, missing-module-docstring, missing-class-docstring, too-many-instance-attributes, raise-missing-from, bare-except, broad-except, no-else-return, too-many-locals, too-many-arguments, no-else-raise, unused-argument, lost-exception, logging-not-lazy, super-with-arguments, too-few-public-methods, unnecessary-lambda-assignment, useless-object-inheritance

[DESIGN]
# Maximum number of boolean expressions in an if statement
max-bool-expr=6

[MASTER]
ignore=mmu_test.py
