config TOOLHEAD_TYPE_AFTERBURNER_CLOCKWORK_REVO
  bool "Afterburner Clockwork Revo"


if TOOLHEAD_TYPE_AFTERBURNER_CLOCKWORK_REVO

  config PARAM_TOOLHEAD_TYPE
    default "Afterburner Clockwork Revo"

  config PARAM_TOOLHEAD_EXTRUDER_TO_NOZZLE
    default "72"

  config PARAM_TOOLHEAD_SENSOR_TO_NOZZLE
    default "62"

  config PARAM_TOOLHEAD_ENTRY_TO_EXTRUDER
    default "8"

  config PARAM_TOOLHEAD_RESIDUAL_FILAMENT
    default "4"
  
endif

