config TOOLHEAD_TYPE_STEALTHBURNER_G2E_RAPIDO_HF
  bool "Stealthburner G2E Rapido HF"

if TOOLHEAD_TYPE_STEALTHBURNER_G2E_RAPIDO_HF
  config PARAM_TOOLHEAD_TYPE
    default "Stealthburner G2E Rapido HF"
  config PARAM_TOOLHEAD_EXTRUDER_TO_NOZZLE
    default "99.38"
  config PARAM_TOOLHEAD_SENSOR_TO_NOZZLE
    default "79.78"
  config PARAM_TOOLHEAD_ENTRY_TO_EXTRUDER
    default "13.29"
  config PARAM_TOOLHEAD_RESIDUAL_FILAMENT
    default "5"
endif