config TOOLHEAD_TYPE_A4T_WWG2_DRAGON_HF_MZE
  bool "A4T WWG2 Dragon HF MZE"

if TOOLHEAD_TYPE_A4T_WWG2_DRAGON_HF_MZE
  config PARAM_TOOLHEAD_TYPE
    default "A4T WWG2 Dragon HF MZE"
  config PARAM_TOOLHEAD_EXTRUDER_TO_NOZZLE
    default "96.1"
  config PARAM_TOOLHEAD_SENSOR_TO_NOZZLE
    default "77.6"
  config PARAM_TOOLHEAD_ENTRY_TO_EXTRUDER
    default "13.2"
  config PARAM_TOOLHEAD_RESIDUAL_FILAMENT
    default "34.7"
endif