config TOOLHEAD_TYPE_A4T_WWBMG_DRAGON_HF_MZE
  bool "A4T WWBMG Dragon HF MZE"

if TOOLHEAD_TYPE_A4T_WWBMG_DRAGON_HF_MZE
  config PARAM_TOOLHEAD_TYPE
    default "A4T WWBMG Dragon HF MZE"
  config PARAM_TOOLHEAD_EXTRUDER_TO_NOZZLE
    default 66.4
  config PARAM_TOOLHEAD_SENSOR_TO_NOZZLE
    default 54.1
  config PARAM_TOOLHEAD_ENTRY_TO_EXTRUDER
    default 9.3
  config PARAM_TOOLHEAD_RESIDUAL_FILAMENT
    default 28.0
endif