config TOOLHEAD_TYPE_A4T_WWBMG_REVO_VORON
  bool "A4T WWBMG Revo Voron"

if TOOLHEAD_TYPE_A4T_WWBMG_REVO_VORON
  config PARAM_TOOLHEAD_TYPE
    default "A4T WWBMG Revo Voron"
  config PARAM_TOOLHEAD_EXTRUDER_TO_NOZZLE
    default "82.6"
  config PARAM_TOOLHEAD_SENSOR_TO_NOZZLE
    default "69.5"
  config PARAM_TOOLHEAD_ENTRY_TO_EXTRUDER
    default "9.7"
  config PARAM_TOOLHEAD_RESIDUAL_FILAMENT
    default "9.0"
endif