config TOOLHEAD_TYPE_STEALTHBURNER_CLOCKWORK2_RAPIDO_HF
  bool "Stealthburner Clockwork2 Rapido HF"

if TOOLHEAD_TYPE_STEALTHBURNER_CLOCKWORK2_RAPIDO_HF
  config PARAM_TOOLHEAD_TYPE
    default "Stealthburner Clockwork2 Rapido HF"
  config PARAM_TOOLHEAD_EXTRUDER_TO_NOZZLE
    default "84.82"
  config PARAM_TOOLHEAD_SENSOR_TO_NOZZLE
    default "74.84"
  config PARAM_TOOLHEAD_ENTRY_TO_EXTRUDER
    default "13"
  config PARAM_TOOLHEAD_RESIDUAL_FILAMENT
    default "5"
endif