config TOOLHEAD_TYPE_ANTHEAD_WWBMG_RAPIDO2_HF
  bool "Anthead WWBMG Rapido 2 HF"


if TOOLHEAD_TYPE_ANTHEAD_WWBMG_RAPIDO2_HF

  config PARAM_TOOLHEAD_TYPE
    default "Anthead WWBMG Rapido 2 HF"

  config PARAM_TOOLHEAD_EXTRUDER_TO_NOZZLE
    default "98.7"

  config PARAM_TOOLHEAD_SENSOR_TO_NOZZLE
    default "83.7"

  config PARAM_TOOLHEAD_ENTRY_TO_EXTRUDER
    default "6.7"

  config PARAM_TOOLHEAD_RESIDUAL_FILAMENT
    default "5"

endif
