config TOOLHEAD_TYPE_E34M1_SHERPA_MINI_ALPS_V6
  bool "E34M1 Sherpa Mini Alps v6"

if TOOLHEAD_TYPE_E34M1_SHERPA_MINI_ALPS_V6
  config PARAM_TOOLHEAD_TYPE
    default "E34M1 Sherpa Mini Alps v6"
  config PARAM_TOOLHEAD_EXTRUDER_TO_NOZZLE
    default "72"
  config PARAM_TOOLHEAD_SENSOR_TO_NOZZLE
    default "62"
  config PARAM_TOOLHEAD_ENTRY_TO_EXTRUDER
    default "8"
  config PARAM_TOOLHEAD_RESIDUAL_FILAMENT
    default "0"
endif