config PARAM_TOOLHEAD_TYPE
  string

choice 
  prompt "Toolhead"
    help 
      Toolhead type (extruder and hotend combo)
      If your toolhead appears in this list you are lucky and can benefit from tuned values
      from others. It is still recommended you learn how to measure and calibrate your own
      because of the number of modifications and versions of hardware. If you are unsure,
      just select the default and perform calibration as described in the wiki

    rsource "Kconfig.*"

  config TOOLHEAD_TYPE_OTHER
    bool "Other/Unknown requiring calibration"

  if TOOLHEAD_TYPE_OTHER
    config PARAM_TOOLHEAD_TYPE
      default "Other/Unknown"
    config PARAM_TOOLHEAD_EXTRUDER_TO_NOZZLE
      default "72"
    config PARAM_TOOLHEAD_SENSOR_TO_NOZZLE
      default "62"
    config PARAM_TOOLHEAD_ENTRY_TO_EXTRUDER
      default "8"
    config PARAM_TOOLHEAD_RESIDUAL_FILAMENT
      default "2"
  endif

endchoice
