config CHOICE_TOOLHEAD_TYPE_JABBERWOCKY
  bool "Jabberwocky"

if CHOICE_TOOLHEAD_TYPE_JABBERWOCKY
  config PARAM_TOOLHEAD_TYPE
    default "Jabberwocky"
  config PARAM_TOOLHEAD_EXTRUDER_TO_NOZZLE
    default "55.1"
  config PARAM_TOOLHEAD_SENSOR_TO_NOZZLE
    default "42.6"
  config PARAM_TOOLHEAD_ENTRY_TO_EXTRUDER
    default "9.8"
  config PARAM_TOOLHEAD_RESIDUAL_FILAMENT
    default "2"
endif
