config TOOLHEAD_TYPE_A4T_WWBMG_FOR_A4T_DRAGON_ACE
  bool "A4T WWBMG for A4T Dragon Ace"

if TOOLHEAD_TYPE_A4T_WWBMG_FOR_A4T_DRAGON_ACE
  config PARAM_TOOLHEAD_TYPE
    default "A4T WWBMG for A4T Dragon Ace"
  config PARAM_TOOLHEAD_EXTRUDER_TO_NOZZLE
    default "88"
  config PARAM_TOOLHEAD_SENSOR_TO_NOZZLE
    default "76.5"
  config PARAM_TOOLHEAD_ENTRY_TO_EXTRUDER
    default "9.5"
  config PARAM_TOOLHEAD_RESIDUAL_FILAMENT
    default "2"
endif