# Defines parameter token types and defaults for popular software options
#
# Responsible for setting:
#   PARAM_ENDLESS_SPOOL_ENABLED
#   PARAM_FLOWGUARD_ENABLED
#   PARAM_FLOWGUARD_ENCODER_MODE
#   PARAM_SPOOLMAN_SUPPORT
#   PARAM_FORCE_FORM_TIP_STANDALONE
#   PARAM_FORM_TIP_MACRO
#   PARAM_EXTRUDER_FORM_TIP_CURRENT
#   PARAM_SLICER_TIP_PARK_POS
#   PARAM_PURGE_MACRO
#   PARAM_EXTRUDER_PURGE_CURRENT
#   PARAM_FORCE_PURGE_STANDALONE
#   PARAM_SELECTOR_TOUCH_ENABLE

menu "Software Options"
  help
    Software Options
    This covers some of the more common software setup options. Further
    configuration can be achieved later by editing generated klipper
    config files.

  config BOOL_FORCE_FORM_TIP_STANDALONE
    bool "Happy Hare controlled tip forming/cutting"
    def_bool y
    help
      You can choose whether you want the slicer or Happy Hare (recommended) to control tip forming.
      To use tip cutting ensure this selection is checked and be sure to turn off in your slicer
  config PARAM_FORCE_FORM_TIP_STANDALONE
    int
    default 1 if BOOL_FORCE_FORM_TIP_STANDALONE
    default 0

  menu "Form tip settings"
    if BOOL_FORCE_FORM_TIP_STANDALONE
      config PARAM_FORM_TIP_MACRO
        string "Tip forming/cutting macro"
        default "_MMU_FORM_TIP"
        help
          Name of macro to call to perform the tip forming (or cutting) operation

      config PARAM_EXTRUDER_FORM_TIP_CURRENT
        int "Extruder tip forming current"
        default 100
        help
          % of extruder current (100%-150%) to use when forming tip (100 to disable feature)
    endif

    config PARAM_SLICER_TIP_PARK_POS
      string "Slicer tip park pos"
      default "0"
      depends on !BOOL_FORCE_FORM_TIP_STANDALONE
      help
        This specifies the position of filament in extruder after slicer completes tip forming
        and is usually a setting in the slicer config.
        (It is necessary to help Happy Hare complete the extruder unloading process)
  endmenu

  config BOOL_FORCE_PURGE_STANDALONE
    bool "Happy Hare controlled purge"
    def_bool y
    help
      You can choose whether you want the slicer or Happy Hare (recommended) to control filament purging.
      To use intelligent volume purging or purge systems like Blobifier ensure this selection is checked
      and be sure to turn off in your slicer
  config PARAM_FORCE_PURGE_STANDALONE
    int
    default 1 if BOOL_FORCE_PURGE_STANDALONE
    default 0

  menu "Purge settings"
    depends on BOOL_FORCE_PURGE_STANDALONE

    config PARAM_PURGE_MACRO
      string "Tip forming/cutting macro"
      default "_MMU_PURGE"
      help
        Name of macro to call to perform the standalone purging operation.
        E.g. BLOBIFIER, _MMU_PURGE

    config PARAM_EXTRUDER_PURGE_CURRENT
      int "Extruder purging current"
      default 100
      help
        % of extruder current (100%-150%) to use when purging (100 to disable feature)
  endmenu

  menu "FlowGuard (clog/tangle/runout detection)"
    depends on MMU_HAS_SYNC_FEEDBACK_BUFFER || MMU_HAS_ENCODER

  config BOOL_FLOWGUARD_ENABLED
    bool "Enable FlowGuard?"
    def_bool y
    help
      Flowguard is a feature that uses the sync-feedback buffer and/or encoder to detect
      filament clogs, tangles and runoutout. If enabled the print will be paused to allow
      you to correct the issue possibily saving your print but certainly saving your printer.
  config PARAM_FLOWGUARD_ENABLED
    int
    default 1 if BOOL_FLOWGUARD_ENABLED
    default 0

  config BOOL_FLOWGUARD_ENCODER_MODE
    bool "Enable encoder based flowguard clog/tangle/runout detection?"
    help
      Clog detection uses the encoder to detect when filament is no longer moving and pauses print
    depends on MMU_HAS_ENCODER
  config BOOL_FLOWGUARD_ENCODER_MODE_AUTO
    bool "Enable automatic detection length?"
    help
      This constantly tunes the clog/tangle/runout detection length to help avoid false triggering
    depends on BOOL_FLOWGUARD_ENCODER_MODE
    default y
  config PARAM_FLOWGUARD_ENCODER_MODE
    int 
    default 2 if BOOL_FLOWGUARD_ENCODER_MODE_AUTO
    default 1 if BOOL_FLOWGUARD_ENCODER_MODE
    default 0
  endmenu

  config BOOL_ENDLESS_SPOOL_ENABLED
    bool "Enable EndlessSpool?"
    help
      This uses filament runout detection to automate switching to a new spool without interruption
  config PARAM_ENDLESS_SPOOL_ENABLED
    int
    default 1 if BOOL_ENDLESS_SPOOL_ENABLED
    default 0

  choice CHOICE_SPOOLMAN_SUPPORT
    prompt "Select spoolman spool manager support"
    default CHOICE_SPOOLMAN_SUPPORT_OFF
    help
      |                  | Activate/  | Fetch filament attributes | Filament gate    | Filament gate     |
      | spoolman_support | Deactivate | attributes from spoolman  | assignment shown | assignment pulled |
      |                  | spool?     | based on spool_id?        | in spoolman db?  | from spoolman db? |
      +------------------+------------+---------------------------+------------------+-------------------+
      |      off         |     no     |           no              |        no        |        no         |
      |      readonly    |     yes    |           yes             |        no        |        no         |
      |      push        |     yes    |           yes             |        yes       |        no         |
      |      pull        |     yes    |           yes             |        yes       |        yes        |

    config CHOICE_SPOOLMAN_SUPPORT_OFF
      bool "Off"
      help
        Don't connect to spoolman
    config CHOICE_SPOOLMAN_SUPPORT_RO
      bool "Read-only"
      help
        Fetch filament attributes based on spool ID
    config CHOICE_SPOOLMAN_SUPPORT_PUSH
      bool "Push"
      help
        Fetch filament attributes and publish gate assignment to spoolman
    config CHOICE_SPOOLMAN_SUPPORT_PULL
      bool "Pull"
      help
        Fetch filament attributes and pull gate assignment from spoolman (print farms)
  endchoice

  config PARAM_SPOOLMAN_SUPPORT
    string
    default "off" if CHOICE_SPOOLMAN_SUPPORT_OFF
    default "readonly" if CHOICE_SPOOLMAN_SUPPORT_RO
    default "push" if CHOICE_SPOOLMAN_SUPPORT_PUSH
    default "pull" if CHOICE_SPOOLMAN_SUPPORT_PULL

  config INSTALL_12864_MENU
    bool "Install Mini 12864 menu configuration?"
    help
      Installs MMU menu for Mini 12864 display.
      Select only if printer has a Mini 12864 character display

  config INSTALL_CLIENT_MACROS
    bool "Install default client macros supplied with Happy Hare? (strongly recommended)"
    default y
    help
      Includes the Happy Hare "client macros" with augmented pause/resume/cancel behavior.
      This is highly recommended and incorporates all functionality from popular alternatives
      like mainsail client macros but also works in conjunction with Happy Hare toolhead movement.

  config BOOL_ENABLE_SELECTOR_TOUCH
    bool "Enable touch selector operation using TMC Stallguard?"
    help
      This allows for additional selector recovery steps but is difficult to tune.
      Not recommended if you are new to MMU/Happy-Hare.
      The MCU must have DIAG output for steppers. Possible to configure later
    depends on LINEAR_SELECTOR
  config PARAM_SELECTOR_TOUCH_ENABLE
    int
    default 1 if BOOL_ENABLE_SELECTOR_TOUCH
    default 0

  if BOARD_TYPE_EASY_BRD
    comment " !!! IMPORTANT: Set the J6 jumper pins to 2-3 and 4-5, i.e. .[..][..] on the EASY-BRD. MAKE A NOTE NOW !!! "
      depends on BOOL_ENABLE_SELECTOR_TOUCH
    comment " !!! IMPORTANT: Set the J6 jumper pins to 1-2 and 4-5, i.e. [..].[..] on the EASY-BRD. MAKE A NOTE NOW !!! "
      depends on !BOOL_ENABLE_SELECTOR_TOUCH
  endif

  menu "Advanced"
    config REPETIER
      bool "Enable Repetier support?"
      help
        Enable ONLY if you need Repetier support otherwise leave disabled

    config REPETIER_NAME
      string "Repetier name"
      depends on REPETIER

    config OCTOPRINT
      bool "Enable Octoprint support?"
      help
        Enable ONLY if you need to use Octoprint otherwise recommended to leave disabled
  endmenu

endmenu
