happy_hare_version = 4.0
formatted_version = $(shell, echo "$(happy_hare_version)0" | sed 's/\([0-9]\+\)\.\([0-9]\)\([0-9]\)[0]*/\1.\2.\3/')

mainmenu "Happy Hare $(formatted_version) Configuration"

### Helper functions
# Used to convert a shell command result to a y/n value
to_bool = $(shell, $(1) && echo y || echo n)

# Used to get the serial device paths
serial=$(shell, ls /dev/serial/by-id/* 2>/dev/null | grep 'Klipper_$(2)' | tail -n +$(1) | head -n 1)
serial_exists=$(to_bool, [ -e '$(serial,$(1),$(2))' ])
serial_config=$(shell, basename '$(serial,$(1),$(2))' | awk '{print "PARAM_SERIAL_" toupper($0)}')

### Start of configuration
config PARAM_HAPPY_HARE_VERSION
  string
  default "$(happy_hare_version)"

config F_VERSION
  string
  default "$(formatted_version)"

# y to shows MMU additions menu inline with type
# n to show as top level menu
config SHOW_MMU_ADDITIONS_WITH_TYPE
  bool
  default n

comment '							'
comment '(\\_/)							'
comment '( *,*)							'
comment '(")_(") Happy Hare version $(formatted_version) 			'	
comment '							'

# Step 1 - Base MMU
rsource "mmu_types/Kconfig"

# Step 2 - MMU Additions/Customization (optionally inline with base type)
if !SHOW_MMU_ADDITIONS_WITH_TYPE
  rsource "mmu_additions/Kconfig"
endif

# Step 3 - Addon Features
rsource "addons/Kconfig"

# Step 4 - MCU
rsource "boards/Kconfig"

# Step 5 - MCU connection
rsource "Kconfig.serial"

# Step 6 - Popular options
rsource "Kconfig.options"

# Raw access to suggested settings
menu "Advanced Settings"
  help
    Advanced Settings
    Only change these settings if you know what you are doing (or have
    MMU customizations) because doing so may alter designer defaults.
    Can always be changed later in generated klipper config files.

  config SHOW_ADVANCED_OPTIONS
    bool "Show advanced options in config menus?"
    default n
    help
      When enabled additional (advanced) options will be shown
      throughout the config menus.

  rsource "Kconfig.num_gates"
  rsource "Kconfig.leds"
  rsource "Kconfig.encoder"
  rsource "Kconfig.endstops"
  rsource "Kconfig.gates"
  rsource "Kconfig.motors"
  rsource "Kconfig.sync"
  rsource "Kconfig.speeds"
  rsource "Kconfig.calibration"
  rsource "Kconfig.pins"
  rsource "Kconfig.params"
  rsource "Kconfig.paths_services"
endmenu
