# Defines MMU's abilty to select a bypass gate. Separated out of capabilities
# because it is used in several places
#
# Responsible for defining:
#   PARAM_HAS_BYPASS

config UNSELECT_HAS_BYPASS
  def_bool n
config PARAM_HAS_BYPASS
  bool "Has filament bypass?"
  forceshow
  depends on !UNSELECT_HAS_BYPASS
  help
    Typically this would be selected when the MMU design has a built in selectable bypass gate.
    A good example is the ERCF design.

    However it can also be selected if you wish the rendering of the bypass gate to be within
    the MMU enclosure in the Mainsail/Fluidd UI. If you don't select the bypass gate will be
    rendered separately.
