# Addon Macro Features
rsource "addons/Kconfig"

# Popular software options
rsource "Kconfig.options"

menu "Printer (extruder/toolhead) sensors"
  help
    Printer Capabilities
    Here you can configure printer toolhead options such as sensors

  source "sensors/Kconfig.toolhead"
  source "sensors/Kconfig.extruder"

# PAUL
#  config MMU_HAS_SENSOR_TOOLHEAD
#    help
#      Select if you have a filament sensor inside of your toolhead after
#      the extruder drive. This is normally connected to a pin on your main
#      printer MCU so specify it here.
#    bool "Toolhead sensor?"
#
#  if MMU_HAS_SENSOR_TOOLHEAD
#    config PIN_TOOLHEAD_SENSOR
#      string "Toolhead sensor pin"
#      default "pinX"
#  endif
#
#  config MMU_HAS_SENSOR_EXTRUDER
#    help
#      Select if you have a filament sensor at or just prior to
#      the extruder entry. This is normally connected to a pin on your main
#      printer MCU so specify it here.
#    bool "Extruder (entry) sensor?"
#  
#  if MMU_HAS_SENSOR_EXTRUDER
#    config PIN_EXTRUDER_SENSOR
#      string "Extruder sensor pin"
#      default "pinX"
#  endif

endmenu

# Advanced install options
rsource "Kconfig.paths_services"
