# Define MMU base capabilities excluding filament sensors.
#
# H/W features are represented by tokens with "MMU_HAS_" prefix
# These are not designed to be directly exposed in UI.
#
#   MMU_HAS_SELECTOR_STEPPER
#   MMU_HAS_SELECTOR_SERVO
#   MMU_HAS_ENCODER
#   MMU_HAS_SYNC_FEEDBACK_BUFFER
#   MMU_HAS_ESPOOLER
#   MMU_HAS_FILAMENT_BUFFER
#   MMU_HAS_LEDS
#
#   PARAM_MISC_HARDWARE
#
# Behavior parameters are generally determined by MMU type, use
#   "imply  XXX"          .. to suggest on
#   "select XXX"          .. to force on
#   "select UNSELECT_XXX" .. to force off/disable
#
# but can be tuned, especially for custom designs.
#
#   PARAM_HAS_BYPASS
#   PARAM_VARIABLE_BOWDEN_LENGTHS
#   PARAM_VARIABLE_ROTATION_DISTANCES
#   PARAM_REQUIRE_BOWDEN_MOVE
#   PARAM_FILAMENT_ALWAYS_GRIPPED
#   PARAM_CAN_CROSSLOAD

config MMU_HAS_SELECTOR_STEPPER
  bool

config MMU_HAS_SELECTOR_SERVO
  bool

config MMU_HAS_ENCODER
  bool

config MMU_HAS_SYNC_FEEDBACK_BUFFER
  bool

config MMU_HAS_ESPOOLER
  bool
config MMU_DISABLE_ESPOOLER_OPTION
  bool
  default n

config MMU_HAS_FILAMENT_BUFFER
  bool
config MMU_DISABLE_FILAMENT_BUFFER_OPTION
  bool
  default n

config MMU_HAS_LEDS
  bool

config PARAM_MISC_HARDWARE
  string
  default ""

menu "Design attributes"
  source "Kconfig.selector_type" 

  config UNSELECT_HAS_BYPASS
    def_bool n
  comment "Has filament bypass? DISABLED"
    depends on UNSELECT_HAS_BYPASS
  config PARAM_HAS_BYPASS
    bool "Has filament bypass?"
    depends on !UNSELECT_HAS_BYPASS
    help
      Whether the MMU design has a built in bypass that can be selected (e.g. ERCF)

  config UNSELECT_VARIABLE_BOWDEN_LENGTHS
    def_bool n
  comment "Variable bowden lengths? DISABLED" 
    depends on UNSELECT_VARIABLE_BOWDEN_LENGTHS
  config PARAM_VARIABLE_BOWDEN_LENGTHS
    bool "Variable bowden lengths?" 
    depends on !UNSELECT_VARIABLE_BOWDEN_LENGTHS
    help
      Whether filament path from parked position in the gate to the extruder is different
      for each gate. Typically this is true of type-B designs but not true of type-A with
      Linear Selector and single bowden exit from the MMU.

  config UNSELECT_VARIABLE_ROTATION_DISTANCES
    def_bool n
  comment "Variable rotation distances? DISABLED" 
    depends on UNSELECT_VARIABLE_ROTATION_DISTANCES
  config PARAM_VARIABLE_ROTATION_DISTANCES
    bool "Variable rotation distances?"
    depends on !UNSELECT_VARIABLE_ROTATION_DISTANCES
    help
      Whether the design has different drive gears (typically BMG gears). Even if from
      the same vendor the rotation distance can vary, hence this option.

  config UNSELECT_REQUIRE_BOWDEN_MOVE
    def_bool n
  comment "Require bowden move? DISABLED" 
    depends on UNSELECT_REQUIRE_BOWDEN_MOVE
  config PARAM_REQUIRE_BOWDEN_MOVE
    bool "Require bowden move?"
    depends on !UNSELECT_REQUIRE_BOWDEN_MOVE
    help
      Whether the design requires a calibrated fast bowden move to reach the extruder.
      This is not necessary if there is a filament splitter/combiner near the toolhead.

  config UNSELECT_FILAMENT_ALWAYS_GRIPPED
    def_bool n
  comment "Filament always gripped? DISABLED"
    depends on UNSELECT_FILAMENT_ALWAYS_GRIPPED
  config PARAM_FILAMENT_ALWAYS_GRIPPED
    bool "Filament always gripped?"
    depends on !UNSELECT_FILAMENT_ALWAYS_GRIPPED
    help
      Whether the design is always gripping the filament. For most type-B designs this
      will be true, but type-A designs have a choice.

  config UNSELECT_CAN_CROSSLOAD
    def_bool n
  comment "Can crossload/unload? DISABLED"
    depends on UNSELECT_CAN_CROSSLOAD
  config PARAM_CAN_CROSSLOAD
    bool "Can crossload/unload?"
    depends on !UNSELECT_CAN_CROSSLOAD
    help
      Whether the design supports the pre-loading or unloading of the non active gate.
      For type-B designs with mmu_exit sensor (or one on each entry to filament combiner)
      this is possible. It is not possible with type-A designs with a single filament
      drive stepper.
endmenu
