menu "Gate loading & parking"

  config PARAM_GATE_HOMING_MAX
    string "Maximum homing distance to the gate (mm)"
    default "100"

  config PARAM_GATE_PARKING_DISTANCE
    string "Gate parking distance (mm)"
    default "23"
    help
      Filament parking distance (mm) after homing to configured gate sensor

  choice CHOICE_GATE_PRELOAD_ENDSTOP 
    prompt "Gate preload endstop"
    help
      Typically this will be the individual mmu exit sensor if is configured else the same
      as the gate homing endstop

    config GATE_PRELOAD_ENDSTOP_DEFAULT
      bool "Same as gate homing endstop"
      help
        Use gate homing endstop (no individual mmu exit sensors are available))

    config GATE_PRELOAD_ENDSTOP_GEAR
      bool "Individual mmu exit sensors" if MMU_HAS_SENSOR_POST_GEAR
      help
        Use individual per gate exit sensor (often implemented as the per-gate hub entry sensor)
  endchoice

  # Create no-prompt param from choice
  config PARAM_GATE_PRELOAD_ENDSTOP
    string 
    default "" if !MMU_HAS_SENSOR_POST_GEAR
    default "mmu_gear" if MMU_HAS_SENSOR_POST_GEAR

  config PARAM_GATE_PRELOAD_HOMING_MAX
    string "Maximum homing distance to the mmu_gear endstop (mm)"
    default "100"

  config PARAM_GATE_PRELOAD_PARKING_DISTANCE
    string "Preload parking distance (mm)"
    default "0"
    help
      Filament parking distance (mm) after homing to configured gate sensor
      or `mmu_gear' sensor if available

  config PARAM_GATE_ENDSTOP_TO_ENCODER
    string "Gate endstop to encoder distance (mm)"
    default "10"

  config PARAM_GATE_FINAL_EJECT_DISTANCE
    string "Distance to eject filament after unload (mm)"
    default "0"

endmenu
