# Addon Macro Features
rsource "addons/Kconfig"

# Popular software options
rsource "Kconfig.options"

menu "Printer"
  help
    Printer Capabilities
    Here you can configure printer toolhead options such as sensors

  rsource "mmu_additions/sensors/Kconfig.toolhead"
  rsource "mmu_additions/sensors/Kconfig.extruder"

  # TODO add extruder/hotend selection to autoset toolhead dimensions

endmenu

# Advanced install options
rsource "Kconfig.paths_services"
