# Define MMU base capabilities excluding filament sensors.
#
# H/W features are represented by tokens with "MMU_HAS_" prefix
# These are not designed to be directly exposed in UI.
#
#   MMU_HAS_SELECTOR_STEPPER
#   MMU_HAS_SELECTOR_SERVO
#   MMU_HAS_ENCODER
#   MMU_HAS_SYNC_FEEDBACK_BUFFER
#   MMU_HAS_ESPOOLER
#   MMU_HAS_FILAMENT_BUFFER
#   MMU_HAS_LEDS
#   MMU_HAS_ENVIRONMENT_SENSOR
#   MMU_HAS_HEATER
#   MMU_HAS_BUFFER_MCU
#
#   PARAM_MISC_HARDWARE
#
# Behavior parameters are generally determined by MMU type, use
#   "imply  XXX"          .. to suggest on
#   "select XXX"          .. to force on
#   "select UNSELECT_XXX" .. to force off/disable
#
# but can be tuned, especially for custom designs.
#
#   (PARAM_HAS_BYPASS) set in Kconfig.bypass
#   PARAM_VARIABLE_BOWDEN_LENGTHS
#   PARAM_VARIABLE_ROTATION_DISTANCES
#   PARAM_REQUIRE_BOWDEN_MOVE
#   PARAM_FILAMENT_ALWAYS_GRIPPED
#   PARAM_CAN_CROSSLOAD

config MMU_HAS_SELECTOR_STEPPER
  bool

config MMU_HAS_SELECTOR_SERVO
  bool

config MMU_HAS_ENCODER
  bool

config MMU_HAS_SYNC_FEEDBACK_BUFFER
  bool

config MMU_HAS_ESPOOLER
  bool

config MMU_HAS_FILAMENT_BUFFER
  bool

config MMU_HAS_LEDS
  bool

config MMU_HAS_ENVIRONMENT_SENSOR
  bool

config MMU_HAS_HEATER
  bool


# Some new designs have mcu integrated in sync-feedback buffer mcu
config MMU_HAS_BUFFER_MCU
  bool

# Flags used to disable the visibility of particular options to reduce confusion
config MMU_DISABLE_NUM_GATES_OPTION
  bool

config MMU_DISABLE_ESPOOLER_OPTION
  bool

config MMU_DISABLE_FILAMENT_BUFFER_OPTION
  bool


config PARAM_MISC_HARDWARE
  string
  default ""

menu "Design attributes"
  source "Kconfig.selector_type" 

  source "Kconfig.bypass" 

  config UNSELECT_VARIABLE_BOWDEN_LENGTHS
    def_bool n
  config PARAM_VARIABLE_BOWDEN_LENGTHS
    bool "Variable bowden lengths?" 
    forceshow
    depends on !UNSELECT_VARIABLE_BOWDEN_LENGTHS
    help
      Whether filament path from parked position in the gate to the extruder is different
      for each gate. Typically this is true of type-B designs but not true of type-A with
      Linear Selector and single bowden exit from the MMU.

  config UNSELECT_VARIABLE_ROTATION_DISTANCES
    def_bool n
  config PARAM_VARIABLE_ROTATION_DISTANCES
    bool "Variable rotation distances?"
    forceshow
    depends on !UNSELECT_VARIABLE_ROTATION_DISTANCES
    help
      Whether the design has different drive gears (typically BMG gears). Even if from
      the same vendor the rotation distance can vary, hence this option.

  config UNSELECT_REQUIRE_BOWDEN_MOVE
    def_bool n
  config PARAM_REQUIRE_BOWDEN_MOVE
    bool "Require bowden move?"
    forceshow
    depends on !UNSELECT_REQUIRE_BOWDEN_MOVE
    help
      Whether the design requires a calibrated fast bowden move to reach the extruder.
      This is not necessary if there is a filament splitter/combiner near the toolhead.

  config UNSELECT_FILAMENT_ALWAYS_GRIPPED
    def_bool n
  config PARAM_FILAMENT_ALWAYS_GRIPPED
    bool "Filament always gripped?"
    forceshow
    depends on !UNSELECT_FILAMENT_ALWAYS_GRIPPED
    help
      Whether the design is always gripping the filament. For most type-B designs this
      will be true, but type-A designs usually have a choice because of their filament
      release mechanism..

  config UNSELECT_CAN_CROSSLOAD
    def_bool n
  config PARAM_CAN_CROSSLOAD
    bool "Can crossload/unload?"
    forceshow
    depends on !UNSELECT_CAN_CROSSLOAD
    help
      Whether the design supports the pre-loading or unloading of the non active gate.
      For type-B designs with mmu_exit sensor (or one on each entry to filament combiner)
      this is possible. It is not possible with most type-A designs with a single filament
      drive stepper.
endmenu
