# Define MMU base capabilities excluding filament sensors. Each token has
# prefix "MMU_". These are not designed to be directly exposed in UI.
# Also allow editing of behavior parameters which are generally determined
# by MMU type but can be tuned, especially for custom designs.

config MMU_HAS_SELECTOR
  bool

config MMU_HAS_SERVO
  bool

config MMU_HAS_ENCODER
  bool

config MMU_HAS_SYNC_FEEDBACK_BUFFER
  bool

config MMU_HAS_ESPOOLER
  bool
config MMU_DISABLE_ESPOOLER_OPTION
  bool
  default n

config MMU_HAS_FILAMENT_BUFFER
  bool
config MMU_DISABLE_FILAMENT_BUFFER_OPTION
  bool
  default n

config MMU_HAS_LEDS
  bool

config PARAM_MISC_HARDWARE
  string
  default ""

# Future TODO: multi-mmu units can share the same buffer and encoder. For now assume one per unit
config PARAM_SYNC_FEEDBACK_BUFFER_NAME
  string
  default UNIT_NAME

config PARAM_ENCODER_NAME
  string
  default UNIT_NAME

menu "Design Attributes"
  source "Kconfig.selector_type" 

  config PARAM_HAS_BYPASS
    bool "Has filament bypass?"
    help
      Whether the MMU design has a built in bypass that can be selected (e.g. ERCF)

  config PARAM_VARIABLE_BOWDEN_LENGTHS
    bool "Variable bowden lengths?" 
    help
      Whether filament path from parked position in the gate to the extruder is different
      for each gate. Typically this is true of type-B designs but not true of type-A with
      Linear Selector and single bowden exit from the MMU.

  config PARAM_VARIABLE_ROTATION_DISTANCES
    bool "Variable rotation distances?"
    help
      Whether the design has different drive gears (typically BMG gears). Even if from
      the same vendor the rotation distance can vary, hence this option.

  config PARAM_REQUIRE_BOWDEN_MOVE
    bool "Require bowden move?"
    help
      Whether the design requires a calibrated fast bowden move to reach the extruder.
      This is not necessary if there is a filament splitter/combiner near the toolhead.

  config PARAM_FILAMENT_ALWAYS_GRIPPED
    bool "Filament always gripped?"

endmenu
