# Environment sensors(s)
#
# Responsible for setting:
#   MMU_HAS_ENVIRONMENT_SENSOR
#   MMU_HAS_PER_GATE_CONFIG
#
# Single MCU:
#   PARAM_ENVIRONMENT_SENSOR_TYPE
#   PARAM_SENSOR_REPORT_TIME_PARAM
#   PARAM_ENVIRONMENT_SENSOR_REPORT_TIME
#   PARAM_ENVIRONMENT_SENSOR_I2C_ADDRESS
#
#   CHOICE_ENVIRONMENT_SENSOR_I2C_HARDWARE (i2c bus type)
#     PARAM_ENVIRONMENT_SENSOR_I2C_BUS
#
#   CHOICE_ENVIRONMENT_SENSOR_I2C_SOFTWARE (i2c bus type)
#     PIN_ENVIRONMENT_SENSOR_SCL
#     PIN_ENVIRONMENT_SENSOR_SDA
#
# Per-gate:
#   as above with _<gate_index> extension
#
# SUPPORTED SENSOR TYPES
#   - AHT1X     (humidity/temperature, requires patched aht1x driver)
#   - AHT2X     (humidity/temperature, requires patched aht1x driver)
#   - AHT3X     (humidity/temperature, requires patched aht1x driver)
#   - BME280    (humidity/temperature/pressure)
#
# SUPPORTED I2C HARDWARE BUS OPTIONS:
#   - i2c2_PB10_PB11  (default)
#   - i2c3_PB3_PB4    (alternative)
#
# Can be disabled and forced off with:
#   select UNSELECT_MMU_HAS_ENVIRONMENT_SENSOR


comment "_"
comment "_Environment Sensors"

config UNSELECT_MMU_HAS_ENVIRONMENT_SENSOR
  def_bool n

if !UNSELECT_MMU_HAS_ENVIRONMENT_SENSOR
  config MMU_HAS_ENVIRONMENT_SENSOR
    bool "Has environment sensor(s)?"
    forceshow
    default n
    help
      Select if the MMU has a humidity/temperature sensor in the filament storage enclosure
endif


# -------------------------------------
# Environment/temperature sensor config
# -------------------------------------

if MMU_HAS_ENVIRONMENT_SENSOR && !CUSTOM_ENVIRONMENT_SENSOR_SETUP && !MMU_HAS_PER_GATE_CONFIG
  menu "Environment sensor h/w config"
    help
      Configure the shared enclosure temperature and humidity sensor.

    config PARAM_ENVIRONMENT_SENSOR
      string "Sensor name       "
      default "$(UNIT_NAME)_Env"
      help
        Name of the environment sensor section in the printer config
        E.g., "temperature_sensor MMU_enclosure" or just "MMU_enclosure"


    # -------------------------------------
    # Single MCU: all settings on one page
    # -------------------------------------

      choice CHOICE_ENVIRONMENT_SENSOR_I2C_BUS_TYPE
        prompt "i2c bus type      "
        default CHOICE_ENVIRONMENT_SENSOR_I2C_HARDWARE
        help
          Select whether to use hardware or software i2c bus for the sensor

        config CHOICE_ENVIRONMENT_SENSOR_I2C_HARDWARE
          bool "Hardware i2c"
          help
            Use hardware i2c bus (faster, recommended)

        config CHOICE_ENVIRONMENT_SENSOR_I2C_SOFTWARE
          bool "Software i2c"
          help
            Use software i2c bus
      endchoice

      choice CHOICE_ENVIRONMENT_SENSOR_TYPE
        prompt "Sensor type       "
        default CHOICE_ENVIRONMENT_SENSOR_TYPE_AHT2X
        help
          Select the type of environment sensor being used

        config CHOICE_ENVIRONMENT_SENSOR_TYPE_AHT1X
          bool "AHT1X"
          help
            AHT1X humidity/temperature sensor

        config CHOICE_ENVIRONMENT_SENSOR_TYPE_AHT2X
          bool "AHT2X"
          help
            AHT2X humidity/temperature sensor

        config CHOICE_ENVIRONMENT_SENSOR_TYPE_AHT3X
          bool "AHT3X"
          help
            AHT3X humidity/temperature sensor

        config CHOICE_ENVIRONMENT_SENSOR_TYPE_BME280
          bool "BME280"
          help
            BME280 humidity/temperature/pressure sensor
      endchoice

      config PARAM_ENVIRONMENT_SENSOR_TYPE
        string
        default "AHT1X"  if CHOICE_ENVIRONMENT_SENSOR_TYPE_AHT1X
        default "AHT2X"  if CHOICE_ENVIRONMENT_SENSOR_TYPE_AHT2X
        default "AHT3X"  if CHOICE_ENVIRONMENT_SENSOR_TYPE_AHT3X
        default "BME280" if CHOICE_ENVIRONMENT_SENSOR_TYPE_BME280

      config PARAM_SENSOR_REPORT_TIME_PARAM
        string
        default ""                  if CHOICE_ENVIRONMENT_SENSOR_TYPE_BME280
        default "aht10_report_time"

      config PARAM_ENVIRONMENT_SENSOR_REPORT_TIME
        int "Report time (secs)" if PARAM_SENSOR_REPORT_TIME_PARAM != ""
        default 0  if CHOICE_ENVIRONMENT_SENSOR_TYPE_BME280
        default 60
        range 0 300 if CHOICE_ENVIRONMENT_SENSOR_TYPE_BME280
        range 1 300 if CHOICE_ENVIRONMENT_SENSOR_TYPE_AHT1X || CHOICE_ENVIRONMENT_SENSOR_TYPE_AHT2X || CHOICE_ENVIRONMENT_SENSOR_TYPE_AHT3X
        help
          Frequency to poll the sensor (default 60 seconds)

          NOTE: This option may require a patched aht1x driver for Klipper
          to support the aht10_report_time parameter.
          Recommend setting this to >= 60sec or 0 to disable.

      config PARAM_ENVIRONMENT_SENSOR_I2C_ADDRESS
        int "i2c address       "
        default 118 if CHOICE_ENVIRONMENT_SENSOR_TYPE_BME280
        default 56
        help
          i2c address of the environment sensor (default 56 [0x38] for AHT sensors, 118 [0x76] for BME280)

      if CHOICE_ENVIRONMENT_SENSOR_I2C_HARDWARE
        choice CHOICE_ENVIRONMENT_SENSOR_I2C_BUS
          prompt "i2c bus name      "
          default CHOICE_ENVIRONMENT_SENSOR_I2C_BUS_I2C3 if BOARD_TYPE_EBB_GEN1
          default CHOICE_ENVIRONMENT_SENSOR_I2C_BUS_I2C2
          help
            Select the hardware i2c bus to use for the environment sensor

        config CHOICE_ENVIRONMENT_SENSOR_I2C_BUS_I2C2
            bool "i2c2_PB10_PB11"
            help
              Hardware i2c bus i2c2 with SCL on PB10 and SDA on PB11

        config CHOICE_ENVIRONMENT_SENSOR_I2C_BUS_I2C3
            bool "i2c3_PB3_PB4"
            help
              Hardware i2c bus i2c3 with SCL on PB3 and SDA on PB4
        endchoice

        config PARAM_ENVIRONMENT_SENSOR_I2C_BUS
            string
            default "i2c2_PB10_PB11" if CHOICE_ENVIRONMENT_SENSOR_I2C_BUS_I2C2
            default "i2c3_PB3_PB4"   if CHOICE_ENVIRONMENT_SENSOR_I2C_BUS_I2C3
      endif

      if CHOICE_ENVIRONMENT_SENSOR_I2C_SOFTWARE
        config PIN_ENVIRONMENT_SENSOR_SCL
          string "SCL pin           "
          default ""
          help
            Software i2c SCL pin (e.g., "PB10")

        config PIN_ENVIRONMENT_SENSOR_SDA
          string "SDA pin           "
          default ""
          help
            Software i2c SDA pin (e.g., "PB11")
      endif
  endmenu
endif


# -------------------------------------
# MCU CPU Temperature sensors
# -------------------------------------

config BOOL_CREATE_MCU_ENVIRONMENT_SENSORS
  bool "Create MCU CPU sensor(s)?"
  default y
  help
    Create [temperature_sensor] sections for the MCU(s) themselves for CPU temperature monitoring.

if BOOL_CREATE_MCU_ENVIRONMENT_SENSORS
  config BOOL_HIDE_MCU_ENVIRONMENT_SENSORS
    bool "Hide in Mainsail / Fluidd"
    default y if MMU_HAS_ENVIRONMENT_SENSOR
    default n
    help
      Hide MCU temperature sensor(s) in Mainsail / Fluidd interface.
endif
