# Type setting and raw modification of toolhead dimensional parameters:
#   PARAM_TOOLHEAD_EXTRUDER_TO_NOZZLE
#   PARAM_TOOLHEAD_SENSOR_TO_NOZZLE
#   PARAM_TOOLHEAD_ENTRY_TO_EXTRUDER
#   PARAM_TOOLHEAD_RESIDUAL_FILAMENT

menu "Toolhead dimensions and calibration"
  help
    These settings are based on the physical dimensions of your toolhead and some physical
    properties like how much filament remains in the extruder after unload. They are used
    to ensure exact toolhead filament loading without excessive oozing.
    Note: If you have a toolhead sensor you can automate the calculation of these parameters! Read about the
    'MMU_CALIBRATE_TOOLHEAD' command (see Happy Hare wiki)

  config PARAM_TOOLHEAD_EXTRUDER_TO_NOZZLE
    string "Extruder entrance to nozzle"
    help
      Distance (mm) from extruder gears (entrance) to nozzle

  config PARAM_TOOLHEAD_SENSOR_TO_NOZZLE
    string "Toolhead sensor to nozzle"
    help
      Distance (mm) from "toolhead" sensor to nozzle
    depends on MMU_HAS_SENSOR_TOOLHEAD

  config PARAM_TOOLHEAD_ENTRY_TO_EXTRUDER
    string "Extruer sensor to entry"
    help
      Distance (mm) from extruder "entry" sensor to extruder gears
    depends on MMU_HAS_SENSOR_EXTRUDER

  config PARAM_TOOLHEAD_RESIDUAL_FILAMENT
    string "Residual filament"
    help
      This setting represents how much residual filament (mm) is left behind in the nozzle when filament is
      removed. it is thus used to reduce the extruder loading length and prevent excessive blobbing but also
      in the calculation of purge volume.
      Note that this value can also be measured with 'MMU_CALIBRATE_TOOLHEAD' command (see Happy Hare wiki)

# This is for tuning. Don't expose
#  config PARAM_TOOLHEAD_OOZE_REDUCTION
#    string "Ooze reduction"
#    default "0"
#    help
#      This is for tuning to fix blobbing. It is expected that this value is NEAR ZERO as it represents a further
#      reduction in extruder load length to fix blobbing. If using a wipetower and you experience blobs on it,
#      increase this value (reduce the quantity of filament loaded). If you experience gaps, decrease this value.
#      If gaps and already at 0 then perhaps the 'toolhead_extruder_to_nozzle' or 'toolhead_residual_filament'
#      settings are incorrect. Similarly a value >+5mm also suggests the four settings above are not correct.
#      Recommend starting with 0
endmenu
