menu "Speeds"

  config PARAM_GEAR_HOMING_SPEED
    string "Gear homing speed (mm/s)"
    default "50"

  if LINEAR_SELECTOR || ROTARY_SELECTOR || INDEXED_SELECTOR
    config PARAM_SELECTOR_MOVE_SPEED
      string "Speed of non-touch selector movement (mm/s)"
      default "200"

    config PARAM_SELECTOR_TOUCH_SPEED
      string "Speed of touch selector movement (mm/s)"
      depends on BOOL_SELECTOR_TOUCH_ENABLE
      default "80"

    config PARAM_SELECTOR_HOMING_SPEED
      string "Speed of initial selector homing move (mm/s)"
      depends on !INDEXED_SELECTOR
      default "60"
  endif 

endmenu
