# Filament movement speed used by gear stepper and extruder
#
# Responsible for setting:
#   PARAM_GEAR_HOMING_SPEED

menu "Filament speed"
# PAUL add more..
  config PARAM_GEAR_HOMING_SPEED
    string "Gear homing speed (mm/s)"
    default "50"
endmenu
