# Selector servo parameter tokens which must be inside
# if MMU_HAS_SELECTOR_SERVO clause in cfg templates
#
# Responsible for setting:
#   PARAM_SERVO_MIN_PULSE_WIDTH
#   PARAM_SERVO_MAX_PULSE_WIDTH
#   PARAM_SERVO_MAX_ANGLE
#   PARAM_SERVO_ALWAYS_ACTIVE
#   PARAM_SERVO_DURATION
#   PARAM_SERVO_DWELL
#
# Optionally depending on selector type:
#   PARAM_SERVO_UP_ANGLE
#   PARAM_SERVO_MOVE_ANGLE
#   PARAM_SERVO_DOWN_ANGLE
#   PARAM_SERVO_ACTIVE_DOWN
#   PARAM_SELECTOR_GATE_ANGLES

if MMU_HAS_SELECTOR_SERVO
  menu "Selector servo"
    config PARAM_SERVO_MAX_ANGLE
      int "Servo maximum angle"
      range 0 360
      default 180

    config PARAM_SERVO_MIN_PULSE_WIDTH
      string "Servo minimum pulse width"
      default "0.001"

    config PARAM_SERVO_MAX_PULSE_WIDTH
      string "Servo maximum pulse width"
      default "0.002"

    config PARAM_SERVO_UP_ANGLE
      int "Servo up angle"
      default 0

    config PARAM_SERVO_MOVE_ANGLE
      int "Servo move angle"
      default 0

    config PARAM_SERVO_DOWN_ANGLE
      int "Servo down angle"
      default 0

    config PARAM_SERVO_BUZZ_GEAR_ON_DOWN
      int "How often to buzz servo on down angle"
      default 1

    config PARAM_SERVO_DURATION
      string "Servo duration"
      default "0.4" if LINEAR_SELECTOR
      default "0.5" if SERVO_SELECTOR

    config PARAM_SERVO_DWELL
      string "Servo dwell"
      default "0.5" if LINEAR_SELECTOR
      default "0.8" if SERVO_SELECTOR

    config BOOL_SERVO_ALWAYS_ACTIVE
      bool "Servo always active?"
      help
        This option will force the servo to always stay active. It can be dangerous on some
        on some designs or miscalibrated MMU because it strains the servo and control electronics.

        Recommend to disable unless you are sure you know you need it.
    config PARAM_SERVO_ALWAYS_ACTIVE
      int
      default 1 if BOOL_SERVO_ALWAYS_ACTIVE
      default 0

    config BOOL_SERVO_ACTIVE_DOWN
      bool "Servo active down"
      help
        This option will force the servo to stay active when in the down or gripped position. It can
        be dangerous on some designs or miscalibrated MMU because it strains the servo and control electronics.

        Recommend to disable unless you are sure you know you need it or your experience poor filament grip.
    config PARAM_SERVO_ACTIVE_DOWN
      int
      default 1 if BOOL_SERVO_ACTIVE_DOWN
      default 0
  endmenu
endif
