if MMU_HAS_LEDS

  config ENABLE_LEDS
    bool "Enable?"
  config PARAM_LED_ENABLE
    int
    default 0
    default 1 if ENBLE_LEDS

  config ANIMATE_LEDS
    bool "Enable animation?"
  config PARAM_LED_ANIMATION
    int
    default 0
    default 1 if ANIMATE_LEDS

  config PARAM_CHAIN_COUNT
    int
    default PARAM_NUM_GATES

  config PARAM_COLOR_ORDER
    string
    default "GRBW"

  config PARAM_EXIT_LEDS
    string
    default "neopixel:mmu_leds (1-4)"

  config PARAM_ENTRY_LEDS
    string
    default ""

  config PARAM_STATUS_LEDS
    string
    default ""

  config PARAM_LOGO_LEDS
    string
    default ""

endif

