# Encoder parameter tokens which must be inside if MMU_HAS_ENCODER clause
# in cfg templates
#
# Responsible for setting:
#   PARAM_ENCODER_NAME
#   PARAM_ENCODER_RESOLUTION
#   PARAM_GATE_ENDSTOP_TO_ENCODER

if MMU_HAS_ENCODER
  menu "Encoder"
    config PARAM_ENCODER_NAME
      string "Encoder name"
      default UNIT_NAME

    config PARAM_ENCODER_RESOLUTION
      help
        Ensure this matches the resolution of your encoder. It represents
        filament movement (mm) for each sensor pulse. Note that this is
        only used as an initial value and it overridden by calibration.
      string "Encoder resolution"
      default "1.0"

    config PARAM_GATE_ENDSTOP_TO_ENCODER
      string "Gate endstop to encoder distance (mm)"
      default "10"
  endmenu
endif
