# Selector stepper parameter tokens for hardware and speeds
# Must be in a "if MMU_HAS_SELECTOR" clause in cfg templates
#
# Responsible for setting:
#   PARAM_SELECTOR_GEAR_RATIO
#   PARAM_SELECTOR_ROTATION_DISTANCE
#   PARAM_SELECTOR_RUN_CURRENT
#   PARAM_SELECTOR_HOLD_CURRENT
#   PARAM_SELECTOR_ENDSTOP_NAME
#
#   PARAM_SELECTOR_GATE_DIRECTIONS
#   PARAM_SELECTOR_RELEASE_GATES


if MMU_HAS_SELECTOR_STEPPER
  menu "Selector stepper"

    config PARAM_SELECTOR_GEAR_RATIO
      string "Selector gear ratio"
      default "1:1"

    config PARAM_SELECTOR_ROTATION_DISTANCE
      string "Selector rotation distance"
      default "40"

    config PARAM_SELECTOR_RUN_CURRENT
      string "Selector run current"
      default "0.5"

    config PARAM_SELECTOR_HOLD_CURRENT
      string "Selector hold current"
      default "0.2"

    config PARAM_SELECTOR_ENDSTOP_NAME
      string
      default "mmu_sel_home"

    if ROTARY_SELECTOR || TESTING_SELECTOR
      config PARAM_SELECTOR_GATE_DIRECTIONS
        string "Selector gate directions"
        default "1, 1, 0, 0"
        help
          An array with entry for each gate representing the direction of movement of the gear stepper
          when the gate is selected. This is used in the 3D-Chameleon design. E.g. "1, 1, 0, 0"
            0 = normal direction
            1 = reverse direction

      config PARAM_SELECTOR_RELEASE_GATES
        string "Selector release gates"
        default "2, 3, 0, 1"
        help
          An array with entry for each gate representing which gate to select to release the filament in
          the designated gate. (Only works if 'filament_always_gripped: 0').
          E.g. "2, 3, 0, 1" to release gate 0, select gate 2, to release gate 1, select gate 3, etc.
    endif

  endmenu
endif 
