config PIN_EXTRUDER_SENSOR
 string "Extruder sensor pin"

config PIN_TOOLHEAD_SENSOR
 string "Toolhead sensor pin"

config PIN_SYNC_FEEDBACK_TENSION
 string "Sync feedback tension pin"

config PIN_SYNC_FEEDBACK_COMPRESSION
 string "Sync feedback compression pin"
