# Responsible for setting:
#   MMU_HAS_SYNC_FEEDBACK_BUFFER
#
#   MMU_SHARED_SYNC_FEEDBACK_BUFFER
#   PARAM_SYNC_FEEDBACK_BUFFER_NAME
#   PARAM_BUFFER_RANGE
#   PARAM_BUFFER_MAXRANGE
#   MMU_HAS_SENSOR_BUFFER_COMPRESSION
#   MMU_HAS_SENSOR_BUFFER_TENSION
#   MMU_HAS_SENSOR_BUFFER_PROPORTIONAL
#
#   PIN_BUFFER_COMPRESSION (duplicate with pins)
#   PIN_BUFFER_TENSION (duplicate with pins)
#   PIN_BUFFER_PROPORTIONAL (duplicate with pins)
#   PIN_BUFFER_ANALOG
#     PARAM_ANALOG_SENSOR_THRESHOLD (if MMU_HAS_SENSOR_BUFFER_PROPORTIONAL)
#     PARAM_ANALOG_MAX_COMPRESSION
#     PARAM_ANALOG_MAX_TENSION
#     PARAM_ANALOG_NEUTRAL_POINT
#     PARAM_ANALOG_GAMMA
#

config UNSELECT_MMU_HAS_SYNC_FEEDBACK_BUFFER
  def_bool n
config MMU_HAS_SYNC_FEEDBACK_BUFFER
  prompt "Has sync-feedback buffer?"
  depends on !UNSELECT_MMU_HAS_SYNC_FEEDBACK_BUFFER
  forceshow
  default n
  help
    A sync-feedback sensor (often referred to as a "buffer") is
    a sensor connected in the bowden path that can detect filament
    compression and/or tension.


if MMU_HAS_SYNC_FEEDBACK_BUFFER

  menu "Buffer config"

    config MMU_SHARED_SYNC_FEEDBACK_BUFFER
      depends on MULTI_UNIT
      bool "Shared with existing unit?"
      default n

    if MMU_SHARED_SYNC_FEEDBACK_BUFFER
      config PARAM_SYNC_FEEDBACK_BUFFER_NAME
        string "Shared buffer name"
        default "-specify name-"
        help
          Enter the name of shared sync-feedback buffer. If fitting a second MMU it is likley
          the buffer will be shared if it is after the bowden combiner near the toolhed.

          If this is the second mmu unit is it likely that the name of the existing buffer
          is 'unit0' (default name)
    endif

    if !MMU_SHARED_SYNC_FEEDBACK_BUFFER
      config PARAM_SYNC_FEEDBACK_BUFFER_NAME
        string "Sync feedback buffer name        "
        default UNIT_NAME

      config PARAM_BUFFER_RANGE
        float "Sync feedback buffer sensor range"
        range 0 30
        default 10
        help
          Travel in "buffer" between compression/tension or one sensor and end:

          <------maxrange------>       <------maxrange------>       <------maxrange------>       <------maxrange------>
               <--range--->                  <----range----->       <----range----->                       <> range=0
          |====================|       |====================|       |====================|       |====================|
               ^          ^                  ^                                     ^                       ^^
          compression   tension        compression-only                      tension-only

      config PARAM_BUFFER_MAXRANGE
        float "Sync feedback buffer max range   "
        range 0 30
        default 12
        help
          The maximum distance the sync-feedback buffer can move from hard limit to hard limit:

          <------maxrange------>       <------maxrange------>       <------maxrange------>       <------maxrange------>
               <--range--->                  <----range----->       <----range----->                       <> range=0
          |====================|       |====================|       |====================|       |====================|
               ^          ^                  ^                                     ^                       ^^
          compression   tension        compression-only                      tension-only

      config UNSELECT_MMU_HAS_SENSOR_BUFFER_COMPRESSION
          bool
      config MMU_HAS_SENSOR_BUFFER_COMPRESSION
        bool "Sync-Feedback Compression sensor (aka buffer out)?"
        depends on !UNSELECT_MMU_HAS_SENSOR_BUFFER_COMPRESSION
        forceshow
        default n
        help
          A sync-feedback sensor (often referred to as a "buffer") is
          a sensor that can detect filament compression and/or tension.
          Select this option if your sensor can detect filament being
          COMPRESSED in the bowden tube.

          This sensor allows the MMU gear stepper to be synchronized with
          the extruder and can be used to detect collision of the filament
          with the extruder.

      config PIN_BUFFER_COMPRESSION
        prompt "Sync feedback compression pin" if MMU_HAS_SENSOR_BUFFER_COMPRESSION
        
      config UNSELECT_MMU_HAS_SENSOR_BUFFER_TENSION
          bool
      config MMU_HAS_SENSOR_BUFFER_TENSION
        bool "Sync-Feedback Tension sensor (aka buffer in)?"
        depends on !UNSELECT_MMU_HAS_SENSOR_BUFFER_TENSION
        forceshow
        default n
        help
          A sync-feedback sensor (often referred to as a "buffer") is
          a sensor that can detect filament compression and/or tension.
          Select this option if your sensor can detect filament being
          UNDER TENSION in the bowden tube.

          This sensor allows the MMU gear stepper to be synchronized with
          the extruder.

      config PIN_BUFFER_TENSION
        prompt "Sync feedback tension pin    " if MMU_HAS_SENSOR_BUFFER_TENSION
 
      config MMU_HAS_SENSOR_BUFFER_PROPORTIONAL
        bool "Sync-Feedback Analog proportional position sensor?"
        default n
        help
          A sync-feedback sensor (often referred to as a "buffer") is a sensor that can detect filament
          compression and/or tension. Select this option if your sensor uses an analog input
          proportional to position. Usually this is an alternate to descrete switch based sensors
          but they can also be added. If not, a virtual compression/tension sensor will be created.

          This sensor also allows the MMU gear stepper to be accurately synchronized with the extruder.

      if MMU_HAS_SENSOR_BUFFER_PROPORTIONAL

        config PIN_BUFFER_ANALOG
          prompt "Proportional (analog) pin    "

        config PARAM_ANALOG_SENSOR_THRESHOLD
          float "Sensor trigger threshold     "
          default 0.7
          help
            analog_sensor_threshold
            The point at which the virtual compression/tension sensors are triggered (on 0-1 scale)
            The roportional scale is always normalized from -1.0 to +1.0, so a setting of 0.7 means:
              the virtual filament_compression sensor will trigger at 0.7
              the virtual filament_tension sensor will trigger at -0.7
            This is extremely useful as the extruder homing endstop.

        comment "_"
        comment "Tuning params (MMU_CALIBRATE_PSENSOR)"

        config PARAM_ANALOG_MAX_COMPRESSION
          float "analog_max_compression       "
          default 1.0
          help
            Raw sensor reading at max compression (buffer expanded).

            Generally this can be determined with the MMU_CALIBRATE_PSENSOR command.

        config PARAM_ANALOG_MAX_TENSION
          float "analog_max_tension           "
          default 0.0
          help
            Raw sensor reading at max tension (buffer squeezed).

            Generally this can be determined with the MMU_CALIBRATE_PSENSOR command.

        config PARAM_ANALOG_NEUTRAL_POINT
          float "analog_neutral_point         "
          default 0.5
          help
            Biasing of neutral point (sensor value 0). Normally close to 0.5

            Generally this can be determined with the MMU_CALIBRATE_PSENSOR command.

        config PARAM_ANALOG_GAMMA
          float "analog_gamma                 "
          default 1.0 
          help
            Advanced option to change the "shape" the response around neutral_point
            A value of 1 maps to a linear scale. Experiment if your analog sensor seems
            more sensitive at one end of travel verses the other.

      endif

    endif
  endmenu
endif
