# Responsible for setting:
#   MMU_HAS_SYNC_FEEDBACK_BUFFER
#
#   MMU_SHARED_SYNC_FEEDBACK_BUFFER
#   PARAM_SYNC_FEEDBACK_BUFFER_NAME
#   PARAM_BUFFER_RANGE
#   PARAM_BUFFER_MAXRANGE
#   MMU_HAS_SENSOR_BUFFER_COMPRESSION
#   MMU_HAS_SENSOR_BUFFER_TENSION
#   MMU_HAS_SENSOR_BUFFER_PROPORTIONAL
#
#   PIN_BUFFER_COMPRESSION (duplicate with pins)
#   PIN_BUFFER_TENSION (duplicate with pins)
#   PIN_BUFFER_PROPORTIONAL (duplicate with pins)
#

config UNSELECT_MMU_HAS_SYNC_FEEDBACK_BUFFER
  def_bool n
config MMU_HAS_SYNC_FEEDBACK_BUFFER
  prompt "Has sync-feedback buffer?"
  depends on !UNSELECT_MMU_HAS_SYNC_FEEDBACK_BUFFER
  forceshow
  default n
  help
    A sync-feedback sensor (often referred to as a "buffer") is
    a sensor connected in the bowden path that can detect filament
    compression and/or tension.


if MMU_HAS_SYNC_FEEDBACK_BUFFER

  menu "Buffer config"

    config MMU_SHARED_SYNC_FEEDBACK_BUFFER
      depends on MULTI_UNIT
      bool "Shared with existing unit?"
      default n

    if MMU_SHARED_SYNC_FEEDBACK_BUFFER
      config PARAM_SYNC_FEEDBACK_BUFFER_NAME
        string "Shared buffer name"
        default "-specify name-"
        help
          Enter the name of shared sync-feedback buffer. If fitting a second MMU it is likley
          the buffer will be shared if it is after the bowden combiner near the toolhed.

          If this is the second mmu unit is it likely that the name of the existing buffer
          is 'unit0' (default name)
    endif

    if !MMU_SHARED_SYNC_FEEDBACK_BUFFER
      config PARAM_SYNC_FEEDBACK_BUFFER_NAME
        string "Sync feedback buffer name        "
        default UNIT_NAME

      config PARAM_BUFFER_RANGE
        string "Sync feedback buffer sensor range"
        default "10"
        help
          Travel in "buffer" between compression/tension or one sensor and end:

          <------maxrange------>       <------maxrange------>       <------maxrange------>       <------maxrange------>
               <--range--->                  <----range----->       <----range----->                       <> range=0
          |====================|       |====================|       |====================|       |====================|
               ^          ^                  ^                                     ^                       ^^
          compression   tension        compression-only                      tension-only

      config PARAM_BUFFER_MAXRANGE
        string "Sync feedback buffer max range   "
        default "12"
        help
          The maximum distance the sync-feedback buffer can move from hard limit to hard limit:

          <------maxrange------>       <------maxrange------>       <------maxrange------>       <------maxrange------>
               <--range--->                  <----range----->       <----range----->                       <> range=0
          |====================|       |====================|       |====================|       |====================|
               ^          ^                  ^                                     ^                       ^^
          compression   tension        compression-only                      tension-only

      config UNSELECT_MMU_HAS_SENSOR_BUFFER_COMPRESSION
          bool
      config MMU_HAS_SENSOR_BUFFER_COMPRESSION
        bool "Sync-Feedback Compression sensor (aka buffer out)?"
        depends on !UNSELECT_MMU_HAS_SENSOR_BUFFER_COMPRESSION
        forceshow
        default n
        help
          A sync-feedback sensor (often referred to as a "buffer") is
          a sensor that can detect filament compression and/or tension.
          Select this option if your sensor can detect filament being
          COMPRESSED in the bowden tube.

          This sensor allows the MMU gear stepper to be synchronized with
          the extruder and can be used to detect collision of the filament
          with the extruder.

      config PIN_BUFFER_COMPRESSION
        prompt "Sync feedback compression pin" if MMU_HAS_SENSOR_BUFFER_COMPRESSION

      config UNSELECT_MMU_HAS_SENSOR_BUFFER_TENSION
          bool
      config MMU_HAS_SENSOR_BUFFER_TENSION
        bool "Sync-Feedback Tension sensor (aka buffer in)?"
        depends on !UNSELECT_MMU_HAS_SENSOR_BUFFER_TENSION
        forceshow
        default n
        help
          A sync-feedback sensor (often referred to as a "buffer") is
          a sensor that can detect filament compression and/or tension.
          Select this option if your sensor can detect filament being
          UNDER TENSION in the bowden tube.

          This sensor allows the MMU gear stepper to be synchronized with
          the extruder.

      config PIN_BUFFER_TENSION
        prompt "Sync feedback tension pin    " if MMU_HAS_SENSOR_BUFFER_TENSION

      config MMU_HAS_SENSOR_BUFFER_PROPORTIONAL
        bool "Sync-Feedback Analog proportional position sensor?"
        default n
        help
          A sync-feedback sensor (often referred to as a "buffer") is
          a sensor that can detect filament compression and/or tension.
          Select this option if your sensor uses an analog input proportional
          to position. 

          This sensor allows the MMU gear stepper to be synchronized with
          the extruder.

      if MMU_HAS_SENSOR_BUFFER_PROPORTIONAL
        config UNSELECT_MMU_HAS_SENSOR_BUFFER_COMPRESSION
          default y
        config UNSELECT_MMU_HAS_SENSOR_BUFFER_TENSION
          default y

        config PIN_BUFFER_ANALOG
          prompt "Proportional (analog) pin    " if MMU_HAS_SENSOR_BUFFER_PROPORTIONAL
      endif

    endif
  endmenu
endif
