# LED parameter token types and defaults. Must be used within
# a "if MMU_HAS_LEDS" is cfg templates
#
# Responsible for setting:
#   PARAM_ENABLED    (leds)
#   PARAM_ANIMATION  (leds)
#   PARAM_CHAIN_COUNT
#   PARAM_COLOR_ORDER
#   PARAM_EXIT_LEDS
#   PARAM_ENTRY_LEDS
#   PARAM_STATUS_LEDS
#   PARAM_LOGO_LEDS

if MMU_HAS_LEDS
  menu "Leds"

    config BOOL_ENABLE_LEDS
      bool "Enable LEDs?"
      default y
      help
        This allows you to install but turn off LED on startup.
    config PARAM_ENABLED
      string
      default "True" if BOOL_ENABLE_LEDS
      default "False"

    config BOOL_ENABLE_LEDS_ANIMATION
      bool "Enable animation?"
      default y
      help
        This allows you to turn off LED animations perhaps reducing the overhead
        on your main klipper CPU. Only disable if you have frequent TTC errors
        caused by overload (rarely necessary).
    config PARAM_ANIMATION
      string
      default "True" if BOOL_ENABLE_LEDS_ANIMATION
      default "False"

    config PARAM_CHAIN_COUNT
      int "Chain count"
      default PARAM_NUM_GATES

    config PARAM_COLOR_ORDER
      string "Color order"
      default "GRBW"

    config PARAM_EXIT_LEDS
      string "Exit leds"
      @defaults template="neopixel:$(UNIT_NAME)_leds (1-%d)" ifsym=PARAM_NUM_GATES min=1 max=24@

    config PARAM_ENTRY_LEDS
      string "Entry leds"
      default ""

    config PARAM_STATUS_LEDS
      string "Status leds"
      default ""

    config PARAM_LOGO_LEDS
      string "Logo leds"
      default ""
  endmenu
endif

