# Responsible for setting:
#   MMU_HAS_ENCODER

config UNSELECT_MMU_HAS_ENCODER
  def_bool n
config MMU_HAS_ENCODER
  prompt "Has encoder?"
  depends on !UNSELECT_MMU_HAS_ENCODER
  forceshow
  default n
  help
    An encoder measures filament movement and can be used to validate
    movement, detect clogs, monitor flow rate and detect filament
    collision with the extruder in liue of a toolhead switch sensor.

rsource "Kconfig.encoder_config"
