# Define MMU base capabilities excluding filament sensors. Each token has
# prefix "MMU_". These are not designed to be directly exposed in UI.
# Also allow editing of behavior parameters which are generally determined
# by MMU type but can be tuned, especially for custom designs.

config MMU_HAS_SELECTOR
  bool

config MMU_HAS_SERVO
  bool

config MMU_HAS_ENCODER
  bool

config MMU_HAS_ESPOOLER
  bool
config MMU_CANNOT_HAVE_ESPOOLER
  bool

config MMU_HAS_FILAMENT_BUFFER
  bool
config MMU_CANNOT_HAVE_FILAMENT_BUFFER
  bool

config MMU_HAS_SYNC_FEEDBACK
  bool

config MMU_HAS_LEDS
  bool


menu "Parameters"

  config PARAM_SELECTOR_TYPE
    string
    default "VirtualSelector" if !MMU_HAS_SELECTOR && !MMU_HAS_SERVO
    default "ServoSelector" if !MMU_HAS_SELECTOR && MMU_HAS_SERVO
    default "RotarySelector" if MMU_HAS_SELECTOR && !MMU_HAS_SERVO
    default "LinearSelector"

  config MMU_HAS_BYPASS
    bool "Has filament bypass?"
  config PARAM_HAS_BYPASS
    int
    default 0
    default 1 if HAS_BYPASS

  config PARAM_VARIABLE_BOWDEN_LENGTHS
    bool "Variable bowden lengths?" 

  config PARAM_VARIABLE_ROTATION_DISTANCES
    bool "Variable rotation distances?"

  config PARAM_REQUIRE_BOWDEN_MOVE
    bool "Require bowden move?"

  config PARAM_FILAMENT_ALWAYS_GRIPPED
    bool "Filament always gripped?"

endmenu
