config PARAM_MMU_UNITS
  prompt "MMU unit names"
  help
    Comma-separated list of unit names.
    Use only alphanumeric characters.
    E.g. "mmu0,mmu1"
 
config PIN_EXTRUDER_SENSOR
  string "Extruder sensor pin"

config PIN_TOOLHEAD_SENSOR
  string "Toolhead sensor pin"

rsource "Kconfig.paths_services"
