# This module defines types and parameters for control of the filament at the gate
# E.g. gate parking, preloading, etc.
#
# Responsible for setting:
#   PARAM_GATE_PARKING_DISTANCE
#   PARAM_GATE_HOMING_MAX
#   PARAM_GATE_PRELOAD_PARKING_DISTANCE
#   PARAM_GATE_PRELOAD_HOMING_MAX
#   PARAM_GATE_FINAL_EJECT_DISTANCE

menu "Gate loading & parking"

  config PARAM_GATE_HOMING_MAX
    float "Maximum homing distance "
    default 100
    help
      Maximum extra move distance (mm) to home (or actual move distance if
      using "encoder" endstop)

  config PARAM_GATE_PARKING_DISTANCE
    float "Gate parking distance   "
    default -23
    help
      Parking position relative to homing endstop. Must be -ve (retraction)
      unless endstop is mmu_exit and filament can be left past the sensor
      without restricting loading from another gate.

      Negative values for movement in the retract direction (back off sensor)
      Positive values for movement in the extrude direction (past sensor)

  config PARAM_GATE_PRELOAD_HOMING_MAX
    float "Preload homing distance "
    default PARAM_GATE_HOMING_MAX
    help
      Maximum homing distance (mm) to the mmu_exit endstop

      Usually this is the same as gate homing distance

  config PARAM_GATE_PRELOAD_PARKING_DISTANCE
    float "Preload parking distance"
    default PARAM_GATE_PARKING_DISTANCE
    help
      Filament parking distance (mm) after homing to configured gate homing sensor
      or per-gate "mmu_exit" sensor if available.

      Negative values for movement in the retract direction (back off sensor)
      Positive values for movement in the extrude direction (past sensor)

      Usually this is the same as gate parking distance

  config PARAM_GATE_FINAL_EJECT_DISTANCE
    float "Final eject distance    "
    default 20
    help
      Additional distance to eject filament on MMU_EJECT to clear MMU's grip

endmenu
