# Define MMU base capabilities excluding filament sensors. Each token has
# prefix "MMU_". These are not designed to be directly exposed in UI.
# Also allow editing of behavior parameters which are generally determined
# by MMU type but can be tuned, especially for custom designs.

config MMU_HAS_SELECTOR
  bool

config MMU_HAS_SERVO
  bool

config MMU_HAS_ENCODER
  bool

config MMU_HAS_SYNC_FEEDBACK_BUFFER
  bool

config MMU_HAS_ESPOOLER
  bool
config MMU_DISABLE_ESPOOLER_OPTION
  bool
  default n

config MMU_HAS_FILAMENT_BUFFER
  bool
config MMU_DISABLE_FILAMENT_BUFFER_OPTION
  bool
  default n

config MMU_HAS_LEDS
  bool

config PARAM_MISC_HARDWARE
  string
default ""

menu "Design Attributes"

  choice CHOICE_SELECTOR_TYPE
    prompt "Selector type?"
    help
      This must be a valid selector class that matches the control requiored by
      your MMU design. Use VirtualSelector for all type-b designs.

    config VIRTUAL_SELECTOR
      bool "VirtualSelector"
      help
        Use this for type-B MMU designs without a selector but instead separate gear motors

    config LINEAR_SELECTOR
      bool "LinearSelector"
      help
        This uses stepper for linear movement and servo for filament gripping

    config SERVO_SELECTOR
      bool "ServoSelector"
      help
        This uses a servo (and usually a cam mechanism) to select. Filament can optionally
        be unselected by selecting an opposing gate or moving to designated position.

    config INDEXED_SELECTOR
      bool "IndexedSelector"
      help
        This uses a stepper motor for selection and relies on specific homing sensors for
        each gate (e.g. BTT ViViD).

    config ROTARY_SELECTOR
      bool "RotarySelector"
      help
        This is a special selector for 3D-Chameleon which can selector opposing gates and also
        causes the gear movement to be reversed

    config MACRO_SELECTOR
      bool "MacroSelector"
      help
        Universal selector that uses user defined macros for the selection process.
  endchoice

  config PARAM_SELECTOR_TYPE
    string
    default "VirtualSelector" if VIRTUAL_SELECTOR
    default "LinearSelector" if LINEAR_SELECTOR
    default "ServoSelector" if SERVO_SELECTOR
    default "RotarySelector" if ROTARY_SELECTOR
    default "IndexedSelector" if INDEXED_SELECTOR
    default "MacroSelector" if MACRO_SELECTOR

  config PARAM_HAS_BYPASS
    bool "Has filament bypass?"
    help
      Whether the MMU design has a built in bypass that can be selected (e.g. ERCF)

  config PARAM_VARIABLE_BOWDEN_LENGTHS
    bool "Variable bowden lengths?" 
    help
      Whether filament path from parked position in the gate to the extruder is different
      for each gate. Typically this is true of type-B designs but not true of type-A with
      Linear Selector and single bowden exit from the MMU.

  config PARAM_VARIABLE_ROTATION_DISTANCES
    bool "Variable rotation distances?"
    help
      Whether the design has different drive gears (typically BMG gears). Even if from
      the same vendor the rotation distance can vary, hence this option.

  config PARAM_REQUIRE_BOWDEN_MOVE
    bool "Require bowden move?"
    help
      Whether the design requires a calibrated fast bowden move to reach the extruder.
      This is not necessary if there is a filament splitter/combiner near the toolhead.

  config PARAM_FILAMENT_ALWAYS_GRIPPED
    bool "Filament always gripped?"

endmenu
