# Selector stepper parameter tokens for hardware and speeds
# Must be in a "if MMU_HAS_SELECTOR" clause in cfg templates
#
# Responsible for setting:
#   PARAM_SELECTOR_GEAR_RATIO
#   PARAM_SELECTOR_ROTATION_DISTANCE
#   PARAM_SELECTOR_RUN_CURRENT
#   PARAM_SELECTOR_HOLD_CURRENT
#   PARAM_SELECTOR_ENDSTOP_NAME

if MMU_HAS_SELECTOR_STEPPER
  menu "Selector steper"

    config PARAM_SELECTOR_GEAR_RATIO
      string "Selector gear ratio"
      default "1:1"

    config PARAM_SELECTOR_ROTATION_DISTANCE
      string "Selector rotation distance"
      default "40"

    config PARAM_SELECTOR_RUN_CURRENT
      string "Selector run current"
      default "0.5"

    config PARAM_SELECTOR_HOLD_CURRENT
      string "Selector hold current"
      default "0.2"

    config PARAM_SELECTOR_ENDSTOP_NAME
      string
      default "mmu_sel_home"

  endmenu
endif 
