# Sets parameter tokens:
#   PARAM_NUM_GATES

config PARAM_NUM_GATES
  int "Number of gates/lanes?"
  help
    The number of gates is set based on MMU type but some
    designs allow for a configurable number. Ensure this
    matches the number in your specific build.
